<div class="carousel-container">

  <div class="carousel-button">
    <button (click)="clickButton('prev')">&lsaquo;</button>
  </div>

  <div class="carousel-inner">

    <div class="item">
      <div class="item-text">
        <a class="carousel-work-text"
           href="https://bimearth.com"
           target="_blank">
          <h1>BIM Earth</h1>
          <p>A data-and-file cartography platform for associating geographical boundaries with information, files, and images.</p>
          <p>(click for more)</p>
        </a>
      </div>
      <div class="item-image">
        <img src="../../../assets/BIM/bim_new.png"
             alt="BIM Earth">
      </div>
    </div>

    <div class="item">
      <div class="item-text">
        <a class="carousel-work-text"
           href="https://csscolormixer.com"
           target="_blank">
          <h1>CSS Color Mixer</h1>
          <p>A tool and a toy for designers to create inspired new color palettes by mixing, adding, and subtracting RGB values.</p>
          <p>(click for more)</p>
        </a>
      </div>
      <div class="item-image">
        <img src="../../../assets/cssmixer/cssmixer1.png"
             alt="CSS Color Mixer">
      </div>
    </div>

    <div class="item">
      <div class="item-text">
        <a class="carousel-work-text"
           href="https://scatterschool.com"
           target="_blank">
          <h1>Scatter School</h1>
          <p>A platform enabling a community to collaborate and share knowledge. Open, editable tutorials and articles for everyone!</p>
          <p>(click for more)</p>
        </a>
      </div>
      <div class="item-image">
        <img src="../../../assets/scatterschool/scatterschool1.png"
             alt="Scatter School">
      </div>
    </div>

    <div class="item">
      <div class="item-text">
        <a class="carousel-work-text"
           href="https://www.site.work/"
           target="_blank">
          <h1>SiteWorks</h1>
          <p>
            A collection of targeted marketing sites for services offered to large mining and drilling operations. Scroll down to "OUR
            PRODUCTS" and click into the other sites we made.
          </p>
          <p>(click for more)</p>
        </a>
      </div>
      <div class="item-image">
        <img src="../../../assets/siteworks/sitework1.png"
             alt="SiteWorks">
      </div>
    </div>

  </div>

  <div class="carousel-button">
    <button (click)="clickButton('next')">&rsaquo;</button>
  </div>

</div>