@import "../../../sass/mixins.scss";
@import "../../../sass/vars.scss";

.carousel-container {
  display: flex;
  // border: $tb-red;
  height: 300px;
  // width: 700px;
  max-width: 100%;
  overflow: hidden;
  @media screen and (min-width:768px){
    height: 400px;
  }
  @media screen and (min-width:1024px){
    height: 500px;
  }
  @media screen and (min-width:1490px){
    height: 600px;
  }
  @media screen and (min-width:1800px){
    height: 700px;
  }
}
.carousel-button {
  // border: $tb-cyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px){
    min-width: 100px;
  }
  button {
    outline: none;
    height: 40px;
    width: 40px;
    padding: 0;
    border: none;
    font-size: 50px;
    cursor: pointer;
    color: $accent;
    background: transparent;
    transition: all 150ms ease-in-out;
    @media screen and (min-width: 768px){
      font-size: 100px;
      width: 100px;
    }
    &:hover {
      color: $primary;
      transform: scale(1.1);
    }
  }
}
.carousel-inner {
  // border: $tb-black;
  display: flex;
  position: relative;
  // width: 1500px;
  width: 100%;
  height: 100%;

}
.item {
  // border: $tb-orange;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  // background-color: yellow;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  // transition: top 3s, left 3s, background-color 3s;
  .item-text {
    // border: $tb-black;
    max-height: 40%;
    padding: 0 20px;
    @media screen and (min-width: 768px) {
      max-height: none;
      width: 30%;
    }
    h1 {
      // border: $tb-lime;
      font-size: 18px;
      margin: 0 0 5px 0;
      // color: $textdivider;
      // color: $primary;
      @media screen and (min-width: 768px) {
        font-size: 22px;
      }
      @media screen and (min-width: 1490px) {
        font-size: 30px;
      }
    }
    p {
      // border: $tb-cyan;
      color: white;
      // color: $text;
      font-size: 13px;
      @media screen and (min-width: 768px) {
              font-size: 18px;
              }
             @media screen and (min-width: 1490px) {
               font-size: 22px;
             }
    }
    p:nth-of-type(2) {
      color: $accent;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .item-image {
    // border: $tb-cyan;
    // max-height: 60%;
    width: 200px;
    overflow: unset;
    @media screen and (min-width: 768px) {
      // overflow: auto;
      max-height: none;
      // height: 80%;
      width: 400px;
    }
       @media screen and (min-width: 1024px) {
            width: 700px;
          }
          @media screen and (min-width: 1490px) {
           width: 900px;
         }
         @media screen and (min-width: 1800px) {
           width: 1000px;
         }
    img {
      width: 100%;
      @media screen and (min-width:768px) {
        // width: auto;
        height: 100%;
      }
    }
  }
  &:not(:first-of-type) {
    left: 100%;
  }
}

// .item-stage-right {
//     left: 100%;
// }

.slide-out-rtl {
  z-index: 10;
  animation: slide-out-rtl 1s forwards;
  @media screen and (min-width: 768px) {
    animation: slide-out-rtl 1400ms forwards;
  }
}

@keyframes slide-out-rtl {
  0% {
    top: 0%;
    left: 0%;
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

.slide-out-ltr {
  z-index: 10;
  animation: slide-out-ltr 1s forwards;
  @media screen and (min-width: 768px) {
    animation: slide-out-ltr 1400ms forwards;
  }
}

@keyframes slide-out-ltr {
  0% {
    top: 0%;
    left: 0%;
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

.slide-in-rtl {
  z-index: 10;
  animation: slide-in-rtl 1s forwards;
  @media screen and (min-width: 768px) {
    animation: slide-in-rtl 1400ms forwards;
  }
}

@keyframes slide-in-rtl {
  0% {
    top: 0;
    left: 100%;
    opacity: 1;
  }
  100% {
    left: 0;
  }
}

.slide-in-ltr {
  z-index: 10;
  animation: slide-in-ltr 1s forwards;
  @media screen and (min-width: 768px) {
    animation: slide-in-ltr 1400ms forwards;
  }
}

@keyframes slide-in-ltr {
  0% {
    top: 0;
    left: -100%;
    opacity: 1;
  }
  100% {
    left: 0;
  }
}
