@import "../../../sass/mixins.scss";
@import "../../../sass/vars.scss";

.carousel-container {
    display: flex;
    border: $tb-red;
    height: 300px;
    // width: 700px;
    max-width: 100%;
    overflow: hidden;
}
.carousel-button {
    // border: $tb-cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px){        
        min-width: 100px;
    }
    button {
        height: 40px;
        width: 40px;
        padding: 0;
        border: none;
        font-size: 50px;
        cursor: pointer;
        color: $accent;
        &:hover {
            color: $primary;
            transition: color 200ms ease-in;
        }
    }
}
.carousel-inner {
    border: $tb-black;
    display: flex;
    position: relative;
    // width: 1500px;
    width: 100%;
    height: 100%;
    
}
.item {
    border: $tb-orange;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
    // transition: top 3s, left 3s, background-color 3s;
    .item-text {
        border: $tb-black;
        max-height: 40%;
    }
    .item-image {
        border: $tb-cyan;
        max-height: 60%;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}

.item-stage-right {
    left: 100%;
}

.slide-out-rtl {
    z-index: 10;
    animation: slide-out-rtl 1s forwards;
}

@keyframes slide-out-rtl {
    0% {
        top: 0%;
        left: 0%;
        opacity: 1;
    }
    100% {
        left: -100%;
    }
}

.slide-out-ltr {
    z-index: 10;
    animation: slide-out-ltr 1s forwards;
}

@keyframes slide-out-ltr {
    0% {
        top: 0%;
        left: 0%;
        opacity: 1;
    }
    100% {
        left: 100%;
    } 
}

.slide-in-rtl {
    z-index: 10;
    animation: slide-in-rtl 1s forwards;
}

@keyframes slide-in-rtl {
    0% {
        top: 0;
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 0;
    }
}

.slide-in-ltr {
    z-index: 10;
    animation: slide-in-ltr 1s forwards;
}

@keyframes slide-in-ltr {
    0% {
        top: 0;
        left: -100%;
        opacity: 1;
    }
    100% {
        left: 0;
    }
}