<div class="carousel-container">
  <div class="carousel-button">
    <button (click)="carouselBackward()">&lsaquo;</button>
  </div>
  <div class="carousel-inner">
    <div class="item">
      <!-- <div> -->
        <div class="item-text">
          <h1>hi this is a div</h1>
          <p>this is a lot of information about the div just wait until you hear about this div, let me tell you. div madness.</p>
        </div>
        <div class="item-image">
            <img src="../../../assets/BIM/bim_new.png"
            alt="BIM Earth">
        </div>
      <!-- </div> -->
    </div>
    <div class="item item-stage-right">
      <h1>KAMUSTA 2</h1>
    </div>
    <div class="item item-stage-right">
      <h1>KONNICHIWA 3</h1>
    </div>
  </div>
  <div class="carousel-button">
    <button (click)="carouselForward()">&rsaquo;</button>
  </div>
</div>