<div class="testimonial-carousel-container">
  <div class="testimonial-carousel-button">
    <button (click)="clickTestimonialButton('prev')">&#10077;</button>
  </div>
  <div class="testimonial-carousel-inner">
    <div class="testimonial-item">
      <div class="testimonial-item-image">
        <img src="../../../assets/josh-sq.jpg" alt="Josh Plager">
      </div>
      <div class="testimonial-item-text">
        <h1>Josh Plager</h1>
        <h2>Founder and CEO of BIM Earth</h2>
        <p>Finding Flight has changed my life!!! For ten years, I struggle to create a company to make the world's building
          information easy to access. I researched markets, developed business plans, theorized algorithms, studied data
          science and privacies—the works! I was really struggling alone. What I needed was to "take Flight!" I needed a
          local team with the skills to build what I wanted built and willingness to meet with me, listen to me, validate
          the good, propose ways to improve, provide clear budget and burn rate projections, and execute as promised. The
          Flight team offered comprehensive engineering, design, deployment, and support. They’re professional, creatively
          driven, and take pride in their work.</p>
      </div>
    </div>

    <div class="testimonial-item">
      <div class="testimonial-item-image">
        <img src="../../../assets/jack.jpg" alt="Jack Lanehome">
      </div>
      <div class="testimonial-item-text">
        <h1>Jack Lanehome</h1>
        <h2>Founder and CEO of Aid2Assist</h2>
        <p>Flight has been great to work with. I felt really comfortable with working with Jacob at Flight. They provided me
          with expected results. They are honest and gave me what options are best for me and my business. I highly recommend
          to give them a try!</p>
      </div>
    </div>


  </div>

  <div class="testimonial-carousel-button">
    <button (click)="clickTestimonialButton('next')">&#10078;</button>
  </div>
</div>
