@import "../../../../sass/vars.scss";

button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: $primary;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: background-color 0.25s;

  &:hover {
    background-color: $accent;
  }
}
