<div>
  <!-- Displays Add Comment/Reply button so long as the email, form, and link sections aren't already showing -->
  <div *ngIf="!askEmail && !showForm && !sentLink">
    <button (click)="checkLogin()">{{button}}</button>
  </div>
  <!-- Displays Add Comment/Reply form -->
  <div *ngIf="showForm">
    <p>Please enter a name (This will be displayed with your post):</p>
    <input type="text" placeholder="Name" [(ngModel)]="user.name">
    <p>Enter comment:</p>
    <textarea #comment rows="8" cols="80"></textarea>
    <button (click)="addComment(comment.value)">Add Comment</button>
    <button (click)="toggleForm()">Cancel</button>
  </div>
<!-- Displays Prompt to enter email for veriication -->
  <div *ngIf="askEmail">
    <p *ngIf="showUnverified">Unable to verify email. Try again</p>
    <input type="text" #userEmail placeholder="Enter Email">
    <p>*We will not display or share your email with any third parties and will not spam your inbox</p>
    <button (click)="verifyEmail(userEmail.value)">Submit</button>
  </div>
<!-- Displays notification that user has been sent  a verification link-->
  <div *ngIf="sentLink">
    <p>We have sent an email to {{userEmail}} to verify that it is yours. Please check your email and click the link to continue. If you do not receive an email within a few minutes, please refresh the page an try again</p>
  </div>
</div>
