// Testing borders "tb" being the key selector
$tb-red: 2px solid red;
$tb-blue: 2px solid blue;
$tb-lime: 2px solid lime;
$tb-orange: 2px solid orange;
$tb-yellow: 2px solid yellow;
$tb-black: 2px solid black;
$tb-cyan: 2px solid cyan;


// Primary colors for site

// $text: #F9EAFF;
// $text: #fafafa;
$yellow: #FFF7D4;
// $accent:#7F8419;
$light: #4c429c;
$medium: #0b517c;
$dark: #28154b;
$darker: #424242;

// flight- color palette redo
$text: #1f1f1e;
$text2: #737373;
$textdivider: #bdbdbd;
$icon: #ffffff;
$accent: #ff5174;
$primary: #3e52b3;
$primarydark: #31419e;

// Variables for media query
$small-phone: 320;
$medium-phone: 375;
$large-phone: 414;
$tablet-portrait-up: 768;
$tablet-landscape-up: 900;
$desktop-up: 1200;
$medium-desktop-up: 1400;
$large-desktop-up: 1800;

// Jacob's quick paste from swipefix branch because errors:
// Variables for media query
$tablet-portrait-up: 600;
$tablet-landscape-up: 900;
$desktop-up: 1200;
$large-desktop-up: 1800;

//Average screen widths
$phone-lg: 414;
$phone-md: 375;
$phone-sm: 320;
//iPhone
$iphone-lg: 414;
$iphone-md: 375;
$iphone-sm: 320;
//Android
$android-lg: 480;
$android-md: 411;
$android-sm: 360;

//General viewport widths
$tablet-sm: 576;
$tablet-md: 780;
$tablet-lg: 992;
$desktop-sm: 1200;
$desktop-md: 1440;
$desktop-lg: 1650;

