// Testing borders "tb" being the key selector
$tb-red: 2px solid red;
$tb-blue: 2px solid blue;
$tb-lime: 2px solid lime;
$tb-orange: 2px solid orange;
$tb-yellow: 2px solid yellow;
$tb-black: 2px solid black;
$tb-cyan: 2px solid cyan;


// Primary colors for site

$yellow: #FFF7D4;
$light: #fafafa;
$medium: #e1e1e1;
$dark: #7d7d7d;
$darker: #424242;