@import "../../../../sass/vars.scss";

.comment {
  padding: 15px 0 0 15px;
  border-left: 1px solid $accent;

  h2 {
    padding-bottom: 15px;
    font-size: 1.1rem;
    font-weight: normal;
    color: $primarydark;
    line-height: 1.5;

    .highlight {
      color: $accent;
    }
  }

  p {
    padding: 0 0 12px 15px;
    line-height: 1.5;
  }
}

.comment-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 15px 24px;

  :first-child {
    margin-right: 5px;
  }

  .author-controls {
    display: flex;
  }
}

.edit-mode-controls {
  padding: 10px 15px 24px;
}

button {
  display: block;
  margin: 5px 0;
  padding: 5px 10px;
  border: 1px solid $dark;
  border-radius: 3px;
  background-color: #fff;
  color: $dark;
  outline: none;
  cursor: pointer;

  &:hover {
    border: 1px solid $accent;
    color: $accent;
  }
}
