<section class="comment">
  <h2>Posted by:
    <span class="highlight bold">{{author?.name}}</span>
    on {{date}}
    <span *ngIf="comment.edited" class="highlight">Edited</span>
  </h2>
  <p>{{comment.body}}</p>

  <div class="comment-controls">
    <fly-add-comment [postSlug]="postSlug"
                     [type]="'responses'"
                     [parentId]="key">
    </fly-add-comment>

    <div *ngIf="isAuthor && !comment.deleted" class="author-controls">
      <button (click)="toggleEdit()">Edit</button>
      <button (click)="deleteComment()">Remove</button>
    </div>

    <fly-edit-comment *ngIf="edit"
                      [key]="key"
                      [type]="type"
                      [comment]="comment"
                      [parentId]="parentId"
                      (toggleEdit)=toggleEdit()>
    </fly-edit-comment>

  </div>

  <fly-comment *ngFor="let responseKey of responseKeys"
               class="response"
               [key]="responseKey"
               [type]="'responses'"
               [comment]="responseList[responseKey]"
               [postSlug]="postSlug"
               [parentId]="key">
  </fly-comment>
</section>
