<section class="comment-wrapper">
  <h2 *ngIf="!comment.deleted">Posted by: <span class="highlight bold">{{authorName}}</span> on {{comment.timeStamp | date}}<span *ngIf="comment.edited"> - <span class="highlight">Edited</span></span>
  </h2>
  <h2 *ngIf="comment.deleted" class="bold">Post from {{comment.timeStamp | date}}</h2>
  <p>{{comment.body}}</p>

  <div *ngIf="userId && !comment.deleted && !replyMode && !editMode"
       class="comment-controls">
    <button class="fly-btn primary"
            (click)="toggleReplyMode()">
      Reply
    </button>
    <button *ngIf="isAuthor()"
            class="fly-btn light"
            (click)="toggleEditMode()">
      Edit
    </button>
    <button *ngIf="isAuthor()"
            class="fly-btn light"
            (click)="startDeleteComment()">
      Remove
    </button>
  </div>

  <fly-add-comment *ngIf="replyMode"
                   [isRootComment]="false"
                   [userId]="userId"
                   [username]="username"
                   [parentId]="key"
                   (saveComment)="onSaveComment($event); toggleReplyMode()"
                   (cancelComment)="toggleReplyMode()">
  </fly-add-comment>

  <fly-add-comment *ngIf="editMode && isAuthor()"
                   [isRootComment]="isRootComment"
                   [isEdit]="true"
                   [commentToEditKey]="key"
                   [commentToEdit]="comment"
                   [userId]="userId"
                   [username]="username"
                   [parentId]="parentId"
                   (saveComment)="onSaveComment($event); toggleEditMode()"
                   (cancelComment)="toggleEditMode()">
  </fly-add-comment>

  <section *ngIf="responseKeys"
           class="reply-list">
    <button class="fly-btn text-only"
            (click)="toggleShowReplies()">
      <span *ngIf="!showReplies">View {{(responseKeys.length > 1) ? responseKeys.length + ' Replies' : 'Reply'}}</span>
      <span *ngIf="showReplies">Hide {{(responseKeys.length > 1) ? 'Replies' : 'Reply'}}</span>
    </button>
    <div *ngIf="showReplies">
      <fly-comment *ngFor="let responseKey of responseKeys"
                   [key]="responseKey"
                   [isRootComment]="false"
                   [comment]="responseList[responseKey]"
                   [parentId]="key"
                   [username]="username"
                   [userId]="userId"
                   (saveComment)="onSaveComment($event)"
                   (deleteComment)="onDeleteComment($event)">
      </fly-comment>
    </div>
  </section>
</section>
