<section class="comment-wrapper">
  <h2 *ngIf="!comment.deleted">
    <span class="highlight bold">{{authorList[comment.user]}}</span> - {{comment.timeStamp | date}}
    <span *ngIf="comment.edited"> - <span class="highlight">Edited</span></span>
  </h2>
  <h2 *ngIf="comment.deleted" class="deleted">Deleted Post - {{comment.timeStamp | date}}</h2>
  <p *ngIf="!comment.deleted">{{comment.body}}</p>

  <div *ngIf="userId && !comment.deleted && !replyMode && !editMode"
       class="comment-controls">
    <button class="fly-btn primary"
            (click)="toggleReplyMode()">
      Reply
    </button>
    <button *ngIf="isAuthor()"
            class="fly-btn light"
            (click)="toggleEditMode()">
      Edit
    </button>
    <button *ngIf="isAuthor()"
            class="fly-btn light"
            (click)="onDeleteComment()">
      Remove
    </button>
  </div>

  <button *ngIf="responseKeys"
          class="fly-btn text-only reply-list"
          (click)="toggleShowReplies()">
    <span *ngIf="!showReplies">View {{(responseKeys.length > 1) ? responseKeys.length + ' Replies' : 'Reply'}}</span>
    <span *ngIf="showReplies">Hide {{(responseKeys.length > 1) ? 'Replies' : 'Reply'}}</span>
  </button>

  <fly-comment-form *ngIf="replyMode"
                   [isRootComment]="false"
                   [userId]="userId"
                   [username]="username"
                   [parentId]="key"
                   (saveComment)="onSaveComment($event); toggleReplyMode(); (!showReplies) ? toggleShowReplies() : null"
                   (cancelComment)="toggleReplyMode()">
  </fly-comment-form>

  <fly-comment-form *ngIf="editMode && isAuthor()"
                   [isRootComment]="isRootComment"
                   [isEdit]="true"
                   [commentToEditKey]="key"
                   [commentToEdit]="comment"
                   [userId]="userId"
                   [username]="username"
                   [parentId]="parentId"
                   (saveComment)="onSaveComment($event); toggleEditMode()"
                   (cancelComment)="toggleEditMode()">
  </fly-comment-form>

  <section *ngIf="responseKeys && showReplies">
    <div *ngFor="let responseKey of responseKeys"
         class="reply">
      <fly-comment [key]="responseKey"
                   [isRootComment]="false"
                   [comment]="responseList[responseKey]"
                   [parentId]="key"
                   [username]="username"
                   [userId]="userId"
                   [authorList]="authorList"
                   (saveComment)="onSaveComment($event)"
                   (deleteComment)="onDeleteComment($event)">
      </fly-comment>
    </div>
  </section>
</section>
