@import "../../../../sass/vars.scss";
@import "../../../../sass/mixins.scss";

#survey-container {
  // for background with image
  // background-image: linear-gradient(to right, rgba(0,0,0,0.3)rgba(0,0,0,0.3)), url('../../../../assets/purplegal2_cropped.jpg');
  // background-attachment: fixed;
  // background-repeat: no-repeat, no-repeat;
  // background-size: cover;
  
  // for solid background
  background: $primary;
  
  width: 100%;
  font-weight: 200;
  line-height: 20px;
  padding: 0;
  @include respond-to(745){
    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 80%;
    padding: 0 100px;
  }
  @include respond-to($desktop-sm){
    // width: 60%;
    padding: 0 300px;
  }
  h1 {
    // color: white;
    // border: $tb-orange;
    font-size: 24px;
    background-color: $primarydark;
    color: white;
    font-weight: 600;
    width: 100%;
    padding: 20px 10px;  
    text-align: center;
  }
  p {
    background: white;
    padding: 20px 40px 20px 10px;
    @include respond-to(746){
      padding: 20px 10px;
    }
  }
  .button-bar {
    background: $primarydark;
    // padding: 10px 10px 20px 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  button {
    margin: 20px 10px;
  }
}