<div  class="container-fluid" id="survey-container"><!-->*ngIf="form"</!-->
<form [formGroup]="form" >
  <h1>SECTIONS</h1>
  <div class="section" *ngFor="let section of survey.sections">
    <h2>{{ section.heading }}</h2>
    <div *ngFor="let content of section.surveyContent; let i = index "> 
      
      <!--this is the template for Text-->
      <div *ngIf="content.type == 'Text' ">
        <p class = "text">{{content.text}}</p>
      </div>

      <!--this is the template for TrueFalse-->

      <div class="question" *ngIf="content.type == 'TrueFalse'">
        <p>{{i + 1}}. {{content.text}}</p>
        <div class="aptitude">
          <mat-radio-group [name]="'ap' + (1 + i)">
            <mat-radio-button [value] = 1> True </mat-radio-button>
            <mat-radio-button [value] = 2> False </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <!--this is the template for Rate-->
      
      <div class="question" *ngIf="content.type == 'Rate'">
        <p>{{i + 1}}. {{content.text}}</p>
        <div class="aptitude">
          <mat-radio-group [name]="'ap' + (1 + i)" >
            <span>Rate:</span>
              <mat-radio-button *ngFor="let value of values" [value]="value">
                {{value}}
              </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>



      <!--this is the template for FreeResponse-->
      <div class="free-response" *ngIf="content.type == 'FreeResponse' ">
          <p>{{i+1}}. {{content.text}}</p>
          <textarea rows="4" cols="50"></textarea>
        <!--this is the template for ShortAnswer-->
          <div *ngIf="content.type == 'ShortAnswer' ">
            <input matInput
               placeholder="First Name"
               formControlName="firstName"
              required>
          </div>
      </div>
        

        <!--this is the template for AptitudeInterest-->

      <div class="question"
        *ngIf="content.type == 'AptitudeInterest';">
        <p>{{i + 1}}. {{content.text}}</p>
        <div class="aptitude">
          <mat-radio-group [name]="'ap' + (1 + i)">
            <span>aptitude:</span>
              <mat-radio-button *ngFor="let value of values" [value]="value">
                {{value}}
              </mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="interest">
          <mat-radio-group [name]="'ip' + (1 + i)">
            <span>interest:</span>
            <mat-radio-button *ngFor="let value of values" [value]="value">
              {{value}}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      

    </div>
  </div>

</form>
</div>
<pre>{{surveyQuestions|json}}</pre>