<div class="carousel-frame">

  <button (click)="onSelectShiftBackward()" class="carousel-button left">&lsaquo;</button>
  <button (click)="onSelectShiftForward()" class="carousel-button right">&rsaquo;</button>

  <div class="carousel-position-indicator">
    <button *ngFor="let item of carouselItems; let i = index" (click)="onSelectItemPosition(i)" [class]="indicatorStatusColor(i)"></button>
  </div>

  <div class="carousel-items-container">
    <div *ngFor="let item of carouselItems; let i = index" [class]="'carousel-item-frame' + itemPosition(i)">
    </div>
  </div>

</div>
