.blog-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  max-width: 80%;
  margin: 0 auto 25px;

  @media screen and (min-width:768px){
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width:1024px){
    grid-template-columns: 1fr 1fr 1fr;
  }
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
