@import "../../../../sass/vars.scss";

h1 {
  margin-bottom: 24px;
  color: $primary;
  font-size: 1.6rem;
  font-weight: bold;

  @media screen and (min-width:600px) {
    font-size: 2rem;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  margin: 48px 0;

  .grid {
    display: grid;
    grid-template-columns: 80vw;
    grid-auto-rows: 80vw;
    grid-gap: 24px;

    @media screen and (min-width:600px) {
      grid-template-columns: 40vw 40vw;
      grid-auto-rows: 40vw;
    }

    @media screen and (min-width:1024px) {
      grid-template-columns: 26vw 26vw 26vw;
      grid-auto-rows: 26vw;
    }

    @media screen and (min-width:1490px) {
      grid-template-columns: 20vw 20vw 20vw;
      grid-auto-rows: 20vw;
    }
  }
}
