<form [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="First Name" formControlName="firstName" required>
  </mat-form-field>
  <!-- <mat-error *ngIf="isErrorVisible('name','required')">Field is required</mat-error> -->

  <mat-form-field>
    <textarea matInput placeholder="First Response" formControlName="fr1" ></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Second Response" formControlName="fr2"></textarea>
  </mat-form-field>
</form>
