@import "../../../../sass/vars.scss";

.preview-card {
  width: 300px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  cursor: pointer;

  .image-wrapper {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      height: 100%;
      transition: transform 0.5s;
    }
  }

  .text-wrapper {
    height: 85px;
    transition: color 0.25s;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px;
  }

  p {
    margin: 5px 0 10px;
  }

  p:last-child {
    color: gray;
    font-size: 0.8rem;
  }
}

.preview-card:hover {
  color: #ff5174;

  img {
    transform: scale(1.1);
  }
}
