@import "../../../../sass/vars.scss";

.preview-card {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: $accent;
  cursor: pointer;

  .featured-image {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.25s;
  }

  .text-wrapper {
    background-color: #fff;
    transition: color 0.25s;
  }

  h2 {
    font-size: 1.1rem;
    font-weight: bold;
    padding-top: 10px;
  }

  p {
    padding-top: 10px;
  }

  p:last-child {
    color: gray;
    font-size: 0.8rem;
  }
}

.preview-card:hover {
  color: $accent;

  .featured-image {
    opacity: 0.9;
  }
}
