<!-- <div class="form-container">
  <form [formGroup]="form" autocomplete="off" novalidate>
    <fieldset>
      <legend>
        <h3 class="header-text">We'd love to hear from you!</h3>
      </legend>
      <p class="contact-text">info@flight.run | SW Portland, OR</p>
      <div class="form-group">
        <input class="form-control" name="name" formControlName="name" placeholder="*Name">
        <div class="field-error-message"*ngIf="isErrorVisible('name','required')">field is required</div>
      </div>
      <div class="form-group">
        <input class="form-control" name="email" formControlName="email" placeholder="*Email">
        <div class="field-error-message" *ngIf="isErrorVisible('email','required')">field is required</div>
        <div class="field-error-message" *ngIf="isErrorVisible('email','validEmail') && !isErrorVisible('email', 'required')">email address not vaild</div>
      </div>
      <div class="form-group">
        <input class="form-control" name="phone" formControlName="phone" placeholder="Phone">
      </div>
      <div class="form-group">
        <textarea class="form-control" name="message" formControlName="message" placeholder="*Message"></textarea>
        <div class="field-error-message" *ngIf="isErrorVisible('message','required')">field is required</div>
      </div>
    </fieldset>
  </form>
  <button [disabled]="!form.valid" id="submit-contact" class="btn" (click)="submit()">SEND MESSAGE</button> 
</div> --> 

<form [formGroup]="testForm">
  <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
      </mat-form-field>
      <div class="field-error-message" *ngIf="isErrorVisible('name','required')">Field is required.</div>

      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>
      <div class="field-error-message" *ngIf="isErrorVisible('email','required')">Field is required</div>
      <div class="field-error-message" *ngIf="isErrorVisible('email','validEmail') && !isErrorVisible('email', 'required')">Email address not valid.</div>

      <mat-form-field>
        <input matInput placeholder="Phone" formControlName="phone">
      </mat-form-field>
      <div class="field-error-message" *ngIf="isErrorVisible('phone','validEmail') && !isErrorVisible('email', 'required')">Phone number not valid.</div>

      <mat-form-field>
        <textarea matInput placeholder="Message" formControlName="message" required></textarea>
      </mat-form-field>
      <div class="field-error-message" *ngIf="isErrorVisible('message','required')">field is required</div>      
    </div>
    <button mat-flat-button (click)="submit()">Send Message</button>
</form>
