@import "../../../sass/vars.scss";
@import "../../../sass/mixins.scss";

.contact-form-container{
	padding: 0;
	color: #fff;
	h1 {
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	p {
		font-weight: lighter;
		line-height: 20px;
		margin: 20px 0;
	}
	.contact-text {
		@media screen and (min-width: 768px){ padding: 0 40px 0 0;}
	}
	.form-container{
		// border: $tb-orange;
		display: flex;
		flex-direction: column;
		padding: 0 20px;
		@media screen and (min-width: 768px) { padding: 0;}
		form{
			// border: $tb-yellow;
			padding: 0;
			display: flex;
			flex-direction: column;
			width: 100%;
		}
		textarea {
			min-height: 150px;
		}
		button{
			align-self: flex-end;
			// margin: 10px 0;
		}
		.mat-error {
			font-style: italic;
			font-size: small;
			text-align: center;
		}
	}
}
