<div class="contact-form-container">
  <div class="row">
    <div class="col-12 col-md-5 contact-text">
      <h1>Let us help you take the first step.</h1>
      <p>
        Consider a free concept validation session. Nobody can ensure your idea will work but we can usually pinpoint the weak links. We can put you on a path to success. We can guide you around landmines and into goldmines.
      </p>
      <p>
          We also provide a full suite of branding, custom graphics and icons, and professional web design as an independent service, or as a core element of our primary engineering and consulting services.
      </p>
    </div>
    <div class="col-12 col-md-7 form-container">
      <form [formGroup]="form">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
        <mat-error *ngIf="isErrorVisible('name','required')">Field is required</mat-error>
  
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-error *ngIf="isErrorVisible('email','required')">Field is required</mat-error>
        <mat-error *ngIf="isErrorVisible('email','validEmail') && !isErrorVisible('email', 'required')">Email address not valid</mat-error>
  
        <mat-form-field>
          <input maxlength="10" matInput placeholder="Phone" formControlName="phone" [(ngModel)]="phoneDisplay" (keyup)="displayPhone($event)">
          <mat-hint align="end">{{phoneDisplay?.length || 0}}/10</mat-hint>
        </mat-form-field>
        <mat-error *ngIf="isErrorVisible('phone','validPhoneNumber')">Phone number not valid</mat-error>
  
        <mat-form-field>
          <textarea matInput placeholder="Message" formControlName="message" required></textarea>
        </mat-form-field>
        <mat-error *ngIf="isErrorVisible('message','required')">Field is required</mat-error>      
      </form>
      <button mat-flat-button color="accent" [disabled]="!form.valid" (click)="submit()">Send Message</button>
    </div>
  </div>
</div>