<!-- <div *ngIf="user.security-level === 10"> -->
<div class="container">
  <div class="row">
    <div class="col-5-sm">
      <h1>Select Featured Items for {{parent}}</h1>
      <p>Click items to add/remove</p>
      <ul>
        <li *ngFor="let item of listItems">
          <h4 (click)=toggleFeatured(item)>{{item}}</h4>
        </li>
      </ul>

    </div>
    <div class="col-5-sm">
      <h1>Current Featured Posts</h1>
      <h4 *ngFor="let key of featuredKeys">{{key}}</h4>
      <h4 *ngIf="!featuredKeys">No featured posts</h4>
    </div>
  </div>
</div>
<!-- </div> -->
