@import "../../../sass/vars.scss";
@import "../../../sass/mixins.scss";

//THIS SECTION GOT MOVED TO NAVBAR COMPONENT
// .navbar-container {
// 	padding: 0;
// 	display: flex;
// 	justify-content: flex-start;
// 	background-color: #ffffff;
// 	height: 90px;
// 	width: 100%;

// 	.brand-logo {
// 		padding: 15px 50px 10px 20px;
// 		img {
// 			width: 150px;
// 		}
// 	}

// 	.navbar-menu-options {
// 		height: 100%;
// 		display: flex;
// 		justify-content: flex-start;
// 		align-items: center;
// 		.menu-item-option {
// 			display: flex;
// 			justify-content: flex-start;
// 			align-items: center;
// 			height: 100%;
// 			.item-text {
// 				padding: 10px 20px;
// 				height: 100%;			
// 				display: flex;
// 				justify-content: center;
// 				align-items: center;
// 				color: #616161;
// 				font-size: 22px;	
// 				cursor: pointer;
// 				&:hover {
// 					border-bottom: 5px solid #ff5174;
// 				}
// 			}
// 		}
// 	}
// }
// START HERO CONTAINER STYLES
// this container houses the logo img and text divs as well as all of the breakpoints
.hero-container {
	height: 350px;
	background-image: url('../../../assets/purplegal2_cropped.jpg');
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: space-around;

	.text-container {
		padding: 30px 20px;
		.hero-text {
			font-family: 'Ubuntu', sans-serif;
			// font-style: italic;
			color: white;
			font-size: 40px;
			margin-bottom: 100px;
		}
		.hero-body-text {
			font-family: 'Roboto', sans-serif;
			font-weight: lighter;
			color: white;
			font-size: 24px;
			width: 100%;
		}

	}

	.logo-container {
		padding: 10px;
		margin-right: 20px;
			.flight-ship {
			
				width: auto;
		
			}

	}

	.moonscape-lg {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	.moonscape-sm {
		display: none;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: -1;
	}

	// Medium Desktops
	@include screen(md-desktop) {
		height: 300px;
		padding: 0px 20px;
		.text-container {
			.hero-text {
				white-space: nowrap;
				font-size: 30px;
				margin: 0px 30px;
			}

			.hero-body-text{
				font-size: 20px;
				margin-top: 80px;
				margin-left: 30px;
				width: 100%;
				line-height: 24px;
			}
		}
		.logo-container {
			.flight-ship {
				margin-top: 20px;
				width: 160px;
			}
		}
	}
	// Regular Desktops
	@include screen(desktop) {
		.text-container {
			padding: 20px;
			.hero-text {
				margin-top: 10px;
				font-size: 28px;
			}
			.hero-body-text {
				margin-top: 10px;
				font-size: 18px;
			}
		}
	
	}
	// Tablets
	@include screen(tablet) {
		height: 250px;
		.text-container {
			padding: 5px;
			.hero-text {
				font-size: 25px;
			}
			.hero-body-text {
				font-size: 18px;
			}
		}

		.logo-container {
			.flight-ship {
			
				height: 100px;
		
			}
		}

		.moonscape-lg {
			display: none;
		}

		.moonscape-sm {
			display: inline;
		}
	
	}
	// Mobile Devices
	@include screen(mobile) {
		.text-container{
			.hero-text {
				font-size: 18px;
			}

			.hero-body-text {
				font-family: 6px;
				line-height: 14px;
			}
		}
		.logo-container{
			.flight-ship {
				display: none;
			}
		}
	}
	// // Older, Smaller Mobile Devices
	// @include screen(xs-mobile) {
	// 	justify-content: center;
	// 	.hero-text {
	// 		font-size: 8px;
	// 		font-weight: 900
	// 	}
	// }
	// // Iphone 5s and smaller
	// @include screen(xs) {
	// 	justify-content: center;
	// 	.hero-text {
	// 		display: none;
	// 	}
	// }
}
// END HERO CONTAINER STYLES

/************************ NEW STYLES**********************
************************* NEW STYLES**********************
************************* NEW STYLES**********************/
   
//TEAM ICONS
.social-icons{
	display: flex;
	justify-content: center;
	img {
		margin-top: 1px;
		width: 28px;
		height: 28px;
		&:hover {
			filter: contrast(.5%) grayscale(100%) brightness(140%);
		}
	}
	a {
		color: $accent;
		&:hover {
			color: $textdivider
		}
	}
}
.social-icons a:last-of-type {
	margin: 0 20px 0 10px;
}
// END OUR TEAM CONTAINER STYLES

// START PROCESS/WHAT WE DO STYLES
// START PROCESS CONTAINER
.process-title {
	background: #fff;
	padding: 50px 50px 0 50px;
	@media screen and (min-width:768px) {
		padding: 50px 80px 0 80px;
	}
	h1 {
		width: 100%;
		font-size: 40px;
		font-weight: bold;
		color: $primary;
		white-space: nowrap;

	}
}
.process-container {
	// border: $tb-red;
	display: flex;
	background-color: white;
	flex-direction: column;
	padding: 0 50px;
	@media screen and (min-width: 768px){
		flex-flow: row wrap;
		padding: 10px 50x 0 50px;
	}
	@media screen and (min-width: 1100px){
		padding: 10px 100px 0 100px;
	}
	@media screen and (min-width: 1440px){
		padding: 10px 100px 30px 100px;
	}
	.process-item {
		// border: $tb-orange;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 0;
		@media screen and (min-width: 768px) { width: 50%; }
		@media screen and (min-width: 900px){
			flex-flow: row nowrap;
			padding: 30px;
			align-items: flex-start;
		}
	}
	.process-img {
		// border: $tb-yellow;
		width: 80%;
		max-width: 200px;
		border-radius: 20px;
		// background-color: $primary;
		padding: 10px;
		img {
			// border: $tb-lime;
			width: 100%;
		}
		@media screen and (min-width: 768px){
			min-width: 200px;
		}
		@media screen and (min-width: 900px){
			// min-width: 150px;
			min-width: 150px;
			max-width: 150px;
		}
	}
	.process-text {
		// border: $tb-yellow;
		// padding: 22px;
		padding: 30px 0 0 0;
		@media screen and (min-width: 768px) {
			padding: 30px;
		}
		@media screen and (min-width: 900px) {
			padding: 0 0 30px 30px;
		}
		h1 {
			// border: $tb-lime;
			font-size: 25px;
			color: $primary;
			margin: 0 0 5px 0;
		}
	}
}
// END PROCESS CONTAINER

// START WHAT WE DO CONTAINER
.do-container {
	width: 100%;
	padding: 0px 55px 50px 50px;
	// padding: 0px 55px 50px 55px;
	@media only screen and (min-width: 768px) {
		padding: 0 100px 75px 100px;
	}
	// padding: 50px 100px 0 100px;
	background-color: #fff;
	display: flex;
	align-items: center;
	.spec-title {
		h1 {
			width: 100%;
			font-size: 40px;
			font-weight: bold;
			color: $primary;
			white-space: nowrap;
	
		}
	}
	.do-list{
		padding: 0 0 20px 0;
		// border: $tb-lime;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		
		h1 {
			font-size: 35px;
			margin: 10px 0;
			color: $primarydark;
			font-weight: bold;
		}
		ul {
			list-style-type: none;
			font-size: 20px;
			line-height: 28px;
		}
		// li::before { content: "• "; color: $primary};
		
		.specialization {
			// border: $tb-red;
			width: 30%;
			margin: 20px 0;
			font-size: 30px;
			display: flex;
			// align-items: center;
			justify-content: center;
		}

	}
	.do-intro {
		// border: $tb-lime;
		padding: 0 0 20px 0;
		p {
			// border: $tb-orange;
			margin: 10px 0;
		}
	}
	.do-item {
		// border: $tb-yellow;
		padding: 0 20px 0 0;
		h1 {
			// border: $tb-cyan;
			font-size: 25px;
			margin: 10px 0;
			color: $primarydark;
			font-weight: bold;
		}
		p {
			// border: $tb-cyan;
			margin: 10px 0;
			// font-weight: lighter;
		}
	}
}
// END WHAT DO WE CONTAINER
// END PROCESS/WHAT WE DO STYLES


// START WORK CAROUSEL STYLES
#work {
	// background-color: $textdivider;
	background-image: url('../../../assets/galaxy.jpg');
	background-attachment: fixed;
	background: linear-gradient(rgba(62,82,179,1) 0%, rgba(255,81,115, 1) 90%), url('../../../assets/galaxy.jpg');
	background-blend-mode: overlay;
	background-size: cover;
}
.work-title {
	padding: 30px 0 30px 55px;
	padding: 50px 55px 25px 55px;
	@media screen and (min-width:768px) {
		padding: 50px 90px 20px 90px;
	}
	h1 {
		font-size: 40px;
		font-weight: bold;
		color: $textdivider;
		// color: $primary;

	}
}
.carousel-work-container {
	// border: $tb-red;
	// background-color: $textdivider;
	padding: 0 30px 30px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media screen and (min-width: 768px) { padding: 30px 100px 50px 100px; }
	@media screen and (min-width: 1024px) { padding: 30px 150px 50px 150px; }
	@media screen and (min-width: 1280px) { padding: 0px 175px 50px 175px; }
	h1 {
		// this is probably redundant and not needed anymore
		// border: $tb-orange;
		// font-size: 25px;
		// font-weight: bold;
		// color: $primarydark;
		// margin-bottom: 20px;
		@media screen and (min-width: 768px) {
			font-size: 40px;
		}
		@media screen and (min-width: 1100px) {
			margin-bottom: 0;
		}
	}

	.carousel-work-item {
		// border: $tb-orange;
		display: flex;
		flex-direction: column;
		padding: 0 40px;
		justify-content: center;
		@media screen and (min-width: 768px) {
			flex-direction: row;
			align-items: center;
			// justify-content: space-evenly;
		}
		img {
			// border: $tb-lime;
			width: 100%;
			// optional
			// box-shadow: 3px 3px 3px $textdivider;
			// is this necessary anymore?
			@media screen and (min-width: 768px) { max-width: inherit; }
			
		}
		.carousel-work-text {
			// border: $tb-cyan;
			display: flex;
			flex-flow: column;
			align-self: center;
			@media screen and (min-width: 768px) {
				width: 40%;
				padding: 0 20px;
			}
			@media screen and (min-width: 1024px) { width: 30%; }
			h1 {
				// border: $tb-lime;
				font-size: 25px;
				margin: 0 0 5px 0;
				color: $textdivider;
				// color: $primary;
			}
			p {
				// border: $tb-cyan;
				color: white;
				// color: $text;
			}
			p:nth-of-type(2) {
				color: $accent;
			}
		}
		.carousel-work-img {
			// border: $tb-cyan;
			display: flex;
			flex-direction: column;
			align-items: center;
			overflow: hidden;
			max-height: 155px;
			margin: 20px 0 30px 0;
			@media screen and (min-width: 768px) {
				align-items: center;
				order: 1;
				width: 60%;
				max-height: 100%;
				overflow: auto;
				margin: 0;

			}
			@media screen and (min-width: 1024px) {
				padding: 0 30px 0 20px;
				align-items: flex-end;
				width: 70%;
			}
			
		}
	}
	.leftRs {
		// border: $tb-red;
		border: none;
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		padding: 0;
		left: 0;
		font-size: 60px;
		color: $accent;
		background-color: transparent;
		outline: none;
		transition: 150ms ease-in-out;
		@media screen and (min-width: 768px){
			font-size: 100px;
		}
		// to flip a right facing arrow
		// -webkit-transform: scaleX(-1);
    	// transform: scaleX(-1);
		&:hover {
			color: $primary;
			transform: scale(1.1);
		}
	}
	
	.rightRs {
		// border: $tb-red;
		border: none;
		position: absolute;
		margin: auto;
		padding: 0;
		top: 0;
		bottom: 0;
		right: 0;
		font-size: 60px;
		color: $accent;
		background-color: transparent;
		outline: none;
		transition: 150ms ease-in-out;
		@media screen and (min-width: 768px){
			font-size: 100px;
		}
		&:hover {
			color: $primary;
			transform: scale(1.1);
		}
	}
	
	a {
		transition: 150ms ease-in-out;
		&:hover {
			text-decoration: none;
			transform: scale(1.1);
		}
	}
		
}
// END WORK CAROUSEL STYLES

// START TESTIMONIALS CAROUSEL STYLES
.testimonial-title {
	background: #e1e1e1;
	padding: 50px 55px 25px 55px;
	@media screen and (min-width:768px) {
		padding: 50px 90px 0 90px;
	}
	h1 {
		width: 100%;
		font-size: 40px;
		font-weight: bold;
		color: $primary;

	}
}
.carousel-testimonial-container {
	// border: $tb-red;
	padding: 0;
	background-color: #e1e1e1;
	h1 {
		// border: $tb-yellow;
		font-size: 25px;
		font-weight: bold;
		color: $text;
		padding-top: 20px;
		text-align: center;
		@media only screen and (min-width: 576px) { text-align: left;}
		@media only screen and (min-width: 768px) { padding-top: 0;}
	}
	h2 {
		// border: $tb-yellow;
		// font-weight: bold;
		font-size: 20px;
		color: $primarydark;
		padding: 5px 0 10px 5px;
		text-align: center;
		@media only screen and (min-width: 576px) { text-align: left;}
	}
	.bannerStyle {
		// border: $tb-cyan;
		padding: 0 20px 50px 20px;
		// media query adds more padding if screen is bigger.
		@media only screen and (min-width: 768px) { padding: 50px 12% 75px 12%;}
		// div for testimonal image.
		.testimonial-img {
			// border: $tb-orange;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0;
			img {
				width: 80%;
				max-width: 300px;
				border-radius: 100%;
			}
		}
		.testimonial-all-text {
			// border: $tb-yellow;
			padding: 0 30px;
			@media screen and (min-width: 768px){
				padding: 0 20px;
			}
			h2 {
				padding: 0 0 20px 0;
			}
		}
		// .quote {
		// 	padding: 0;
		// 	font-size: 60px;
		// 	color: white;
		// 	@media only screen and (min-width: 768px) { font-size: 125px;}
		// }
		.quote-text {
			padding: 15px 0 10px 10px;
			font-weight: lighter;
			color: $text;
			// line-height: 1.25;
			font-size: 20px;
		}
		.testimonial-block {
			// border: $tb-red;
			display: flex;
			flex-wrap: nowrap;
			max-width: 100%;
		}
		.quote-bigger {
			font-size: 28px;
			line-height: 1.3;
		}
	}
	.leftRst {
		// border: $tb-red;
		border: none;
		position: absolute;
		margin: auto;
		padding: 0 0 125px 0;
		top: 0;
		bottom: 0;
		// width: 100px;
		// height: 100px;
		// box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
		// border-radius: 999px;
		left: 0;
		font-size: 80px;
		color: $accent;
		background-color: transparent;
		outline: none;
		// animation: quote-float-left 2s infinite;
		animation: quote-float 2s infinite;
		// to flip a right facing arrow
		// -webkit-transform: scaleX(-1);
		// transform: scaleX(-1);
		@media screen and (min-width: 768px){
			padding: 0 0 100px 40px;
			font-size: 100px;
		}
		&:hover {
			color: $primarydark;
			// animation: quote-stop 400ms ease-out forwards;
		}
	}
	
	.rightRst {
		// border: $tb-red;
		border: none;
		position: absolute;
		margin: auto;
		padding: 0 0 125px 0;
		top: 0;
		bottom: 0;
		// width: 50px;
		// height: 50px;
		// box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
		// border-radius: 999px;
		right: 0;
		font-size: 80px;
		color: $accent;
		background-color: transparent;
		outline: none;
		// animation: quote-float-right 2s infinite;
		animation: quote-float 2s infinite;
		@media screen and (min-width: 768px){
			padding: 0 40px 100px 0;
			font-size: 100px;
		}
		&:hover {
			color: $primarydark;
		}
	}
	// This is to hide carousel arrows, 
	// button {
	// 	display: none !important;
	// }
}

// testimonial carousel quote animations

@keyframes quote-float {
	0% { transform: translateY(3px);}
	50% {transform: translateY(-3px);}
	100% { transform: translateY(3px);}
}
@media screen and (min-width: 768px){
	@keyframes quote-float {
		0% { transform: translateY(10px);}
		50% {transform: translateY(-10px);}
		100% { transform: translateY(10px);}
	}
}

@keyframes quote-stop {
	100% { color: #fff;}
}
// END TESTIMONIALS carousel styles


// START FLIGHT TEAM STYLES
.flight-team-container {
	// border: $tb-lime;
	min-height: 575px;
	width: 100%;
	padding: 50px 55px 40px 55px;
	@media screen and (min-width: 768px){
		padding: 75px 100px 100px 100px;
	}
	// padding: 75px 100px 100px 100px;
	// backwards mobile media query
	// @media screen and (max-width: 425px){
	// 	padding: 50px 55px 40px 55px;
	// }
	background-color: #fff;
	// display: flex;
	.flight-team-title {
		padding: 0;
		font-size: 40px;
		font-weight: bold;
		color: $primary;
	}
	.flight-member-container {
		// border: $tb-red;
		display: flex;
		flex-direction: column;
		padding: 50px 0 0 0;
		@media screen and (min-width: 768px){
			// padding: 50px 30px 0 0;
			// if font weight is lighter
			padding: 50px 20px 0 0;
		}
		//@include screen(mobile) { padding: 100px 0;}
		.member-photo {
			// border: $tb-orange;
			width: 60%;
			min-width: 150px;
			border-radius: 100%;
			margin: 0 0 10px 0;
			// align-self: center;
			@media screen and (max-width: 767px){
				align-self: center;
			}
			@media screen and (min-width: 768px){
				margin: 0 0 30px 0;
			}
			// @include screen(mobile) { align-self: center;}
		}
		.flight-member-name {
			// border: $tb-cyan;
			color: $text;
			font-size: 25px;
			margin: 5px 0;
		}
		.flight-member-title {
			// border: $tb-cyan;
			color: $primarydark;
			font-weight: bold;
			// margin: 5px 0;
		}
		.flight-member-body {
			// border: $tb-cyan;
			font-size: 14px;
			margin: 10px 0 20px 0;
			font-weight: lighter;
		}
	}
	.flight-member-container:nth-child(n+4) {
		// padding: 50px 0 0 0;
		// padding: 70px 30px 0 0;
		// if font weight is lighter
		padding: 70px 20px 0 0;
		@media screen and (min-width: 992px) {
			// padding: 50px 30px 0 0;
			//if font weight is lighter
			padding: 50px 20px 0 0;

		}

	}
}
// END FLIGHT TEAM STYLES


// START CONTACT STYLES
.contact-container {
	// border: $tb-lime;
	padding: 50px 55px;
	background-color: $primary;
	@media screen and (min-width: 768px){
		padding: 50px 100px;
	}
}
// END CONTACT STYLES

// START FOOTER STYLES
.footer-container {
	padding: 25px 55px;
	// background-color: $primarydark;
	color: $primarydark;
	// text-align: right;
	display: flex;
	justify-content: space-between;
	a {
		color: $accent;
		&:hover {
			color: $textdivider;
			text-decoration: none;
		}
	}
	@media screen and (min-width: 768px){
		padding: 25px 100px;
	}
}
// END FOOTER STYLES

// TEST CLASS
.list-appear {
	animation: listFlash 1s ease-out forwards;
}

@keyframes listFlash {
	0% { color: $accent; opacity: 0;}
	90% { color: $accent; opacity: 1;}
	100% { color: $text; opacity: 1;}
}