<!-- MAIN CONTAINER -->
<div class="container-fluid">
	<!-- Nav Bar Container -->

	<!-- <div class="row">
		<div class="col-12 navbar-container">
			<div class="brand-logo">
				<img src="../../../assets/navlogo.png"
				     alt="brand logo">
			</div>
			<div class="navbar-menu-options">
				<div class="menu-item-option">
					<div class="item-text">What We Do</div>
					<div class="item-text">Projects</div>
					<div class="item-text">Contacts</div>
				</div>
			</div>
		</div>
	</div> -->

	<!-- ROW FOR HERO/HEADER -->
	<div class="row">
		<div class="hero-container">
			<img class="moonscape-lg"
			     src="../../../assets/moonscape2.png"
			     alt="moonscape large">
			<img class="moonscape-sm"
			     src="../../../assets/moonscape.png"
			     alt="moonscape small">
			<div class="text-container">
				<div class="hero-text">Empowering entrepreneurs and idea people to lift off!</div>
				<div class="hero-body-text">Welcome to Flight! Our mission is to help founders set up their startups. We turn ideas into apps. We turn visions into
					brands. We turn inspiration into sustainable business models. We offer an optimal combo of lean startup best practices,
					agile development methodologies, creative design, and clever branding and positioning. </div>
			</div>
			<div class="logo-container">
				<img class="flight-ship"
				     src="../../../assets/flight_logo_notype.png">
			</div>
		</div>
	</div>


	<!-- ROW FOR THE "WE DO AWESOME RIGHT" CONTAINER -->
	<!-- <div class="row">
		<div class="col-12 awesome-container">
			<div class="awesome-overlay">
				<h1>Engineering | Design | Entrepreneurship</h1>
				<p>Empowering entrepreneurs and idea people to lift off</p>
			</div>
		</div>
	</div>


	<!-- ROW FOR THE "STUFF WE DO" SECTION AND ICONS -->
	<!-- <a name="offerings"></a> -->
	<div id="offerings"
	     class="row">
		<div class="col-12 process-title">
			<h1>What We Do</h1>
		</div>
		<div class="col-12 process-container">
			<div class="process-item">
				<div class="process-img">
					<!-- <div class="process-img-shadow"></div> -->
					<img src="../../../assets/apps-tools.png">
				</div>
				<div class="process-text">
					<h1>Apps & Tools</h1>
					<p>We believe in powerful, smart, scalable apps and tools that help people work better and faster, improve conversion rates,
						or just make life more interesting. You shouldn’t have to settle for less when you’re just getting started.
					</p>
				</div>
			</div>
			<div class="process-item">
				<div class="process-img">
					<img src="../../../assets/layout-design.png">
				</div>
				<div class="process-text">
					<h1>Layout & Design</h1>
					<p>We’re passionate about clean design and intuitive user experience. With careful use of line, color, and angle we can
						tell stories, display dense data, and keep users on your page longer. Better results start with good design.</p>
				</div>
			</div>
			<div class="process-item">
				<div class="process-img">
					<img src="../../../assets/icons-graphics.png">
				</div>
				<div class="process-text">
					<h1>Icons & Graphics</h1>
					<p>It’s often the little things that set you apart. One-of-a-kind, custom graphics and icons can captivate your audience,
						convey your meaning, and direct attention. Not every MVP has to be built with standard cookie-cutter elements.
					</p>
				</div>
			</div>
			<div class="process-item">
				<div class="process-img">
					<img src="../../../assets/validation-refinement.png">
				</div>
				<div class="process-text">
					<h1>Validation & Refinement</h1>
					<p>Turning an idea to a business takes diligence and iteration. You have to think about scalability, monetization, technology,
						timing, targeted marketing, and more. Don’t finalize your idea in a vacuum; get the feedback and guidance you didn’t
						know you needed.</p>
				</div>
			</div>
			<div class="process-item">
				<div class="process-img">
					<img src="../../../assets/execution-strategy.png">
				</div>
				<div class="process-text">
					<h1>Execution & Strategy</h1>
					<p>Startup failure is rarely due to a bad idea. A kink in your process or business model can derail everything without
						warning. We’ll put information and analytics at your fingertips along with a sound strategy and deft execution.</p>
				</div>
			</div>
			<div class="process-item">
				<div class="process-img">
					<img src="../../../assets/takeoff.png">
				</div>
				<div class="process-text">
					<h1>Take-off</h1>
					<p>Great minds shake empty fists at wealthy founders saying “that was my idea!” and it’s usually true. Ideas in the queue
						mean nothing. Flight will guide you through a pre-flight check, taxi to the runway, and lift off! Air traffic control
						stays with you to ensure a safe landing. </p>
				</div>
			</div>
		</div>
		<div class="col-12 process-title">
			<h1>Specializations</h1>
		</div>
		<div class="do-container">

			<div class="row">
				<div class="col-12 do-list"
				     #doList>
					<ul>
						<li [@listState]="listStates[0]"
						    (@listState.done)="animationDone($event)"
						    [ngClass]="phoneListStates[0]">
							GIS (Geographic Information Systems)</li>
						<li [@listState]="listStates[1]"
						    (@listState.done)="animationDone($event)"
						    [ngClass]="phoneListStates[1]">Mapping, cartography, and cool apps that work with maps</li>
						<li [@listState]="listStates[2]"
						    (@listState.done)="animationDone($event)"
						    [ngClass]="phoneListStates[2]">Open, decentralized platforms and networks</li>
						<li [@listState]="listStates[3]"
						    (@listState.done)="animationDone($event)"
						    [ngClass]="phoneListStates[3]">Custom CMS platforms</li>
						<li [@listState]="listStates[4]"
						    (@listState.done)="animationDone($event)"
						    [ngClass]="phoneListStates[4]">Tools to facilitate collaboration, and communication between users</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- ROW FOR "WHAT WE'RE ABOUT" SECTION -->
	<!-- ROW FOR WORK SECTION -->
	<a name="our_work"></a>
	<div id="work"
	     class="row">
		<div class="col-12 work-title">
			<h1>Projects</h1>
		</div>
		<div class="col-12 carousel-work-container">
			<ngu-carousel [inputs]="carouselWork"
			              (onMove)="onmoveFn($event)">

				<ngu-item NguCarouselItem
				          class="bannerStyle">
					<div class="carousel-work-item">
						<div class="carousel-work-img">
							<img src="../../../assets/BIM/bim_new.png"
							     alt="BIM Earth">
						</div>
						<a routerLink="/examples/bimearth"
						   class="carousel-work-text">
							<h1>BIM Earth</h1>
							<p>Bim Earth is a web app that makes associating geographical boundaries with data easy, fun, and intuitive.</p>
							<p>(click for more)</p>
						</a>
					</div>
				</ngu-item>

				<ngu-item NguCarouselItem
				          class="bannerStyle">
					<div class="carousel-work-item">
						<div class="carousel-work-img">
							<img src="../../../assets/cssmixer/cssmixer1.png"
							     alt="CSS Color Mixer">
						</div>
						<a routerLink="/examples/colormixer"
						   class="carousel-work-text">
							<h1>CSS Color Mixer</h1>
							<p>CSS Color Mixer is a web tool that allows you to constantly mix colors until you find the colors that you need!</p>
							<p>(click for more)</p>
						</a>
					</div>
				</ngu-item>
				<ngu-item NguCarouselItem
				          class="bannerStyle">
					<div class="carousel-work-item">
						<div class="carousel-work-img">
							<img src="../../../assets/scatterschool/scatterschool1.png"
							     alt="Scatter School">
						</div>
						<a routerLink="/examples/scatterschool"
						   class="carousel-work-text">
							<h1>Scatter School</h1>
							<p>Community made open, editable tutorials for everyone.</p>
							<p>(click for more)</p>
						</a>
					</div>
				</ngu-item>

				<ngu-item NguCarouselItem
				          class="bannerStyle">
					<div class="carousel-work-item">
						<div class="carousel-work-img">
							<img src="../../../assets/siteworks/sitework1.png"
							     alt="SiteWorks">
						</div>
						<a routerLink="/examples/siteworks"
						   class="carousel-work-text">
							<h1>SiteWorks</h1>
							<p>Onsite operations made easy, anytime and from anywhere from this web app.</p>
							<p>(click for more)</p>
						</a>
					</div>
				</ngu-item>

				<button NguCarouselPrev
				        class='leftRs'>&lsaquo;</button>
				<button NguCarouselNext
				        class='rightRs'>&rsaquo;</button>
				<!-- <button NguCarouselPrev class='leftRs'>&#10153;</button>
				<button NguCarouselNext class='rightRs'>&#10154;</button> -->
			</ngu-carousel>
		</div>
	</div>
	<div class="col-12 process-title">
		<h1>The MVP</h1>
	</div>
	<div class="do-container">
		<div class="row">
			<!-- All Great Startups paragraph -->
			<div class="col-12 do-intro">
				<p>All great startups begin with a "Minimum Viable Product". Our skills, tools, and technologies allow for rapid prototyping
					but can be scaled and transitioned to enterprise architecture. Your MVP won't need to be scrapped if you go viral, and
					you've already got a solid team familiar with your codebase and business model.
				</p>
				<br>
				<p>We're mastering the art of the MVP but entrepreneurs need their startup idea to be viable, not just minimal. We've isolated
					3 paths from viable idea to initial success:</p>
			</div>
			<!-- The 3 paths -->
			<div class="col-12 col-md-4 do-item">
				<h1>Meteoric Take-off</h1>
				<p>Rapid user adoption of a new product or service. Usually best suited for low-margin, mass-market ideas. Helps make your
					idea presentation ready.</p>
			</div>
			<div class="col-12 col-md-4 do-item">
				<h1>Cash Flow Positive</h1>
				<p>More money is generated by the product than it consumes.Usually best suited for sales-heavy, high-margin products or
					services.Helps make your idea presentation ready.</p>
			</div>
			<div class="col-12 col-md-4 do-item">
				<h1>Presentation Ready</h1>
				<p>The product or idea is compelling to investors and early adopters. Your elevator pitch is legitimate and you have some
					skin in the game. Ideally, you have some cash flow and/or lots of customers.
				</p>
			</div>
		</div>
	</div>
	<!-- ROW FOR TESTIMONIALS FROM CLIENTS -->
	<!-- Current testimonials are so different, styling is a little awkward trying to account for amount difference in content. -->
	<div class="row"
	     id="testimonial">
		<div class="col-12 testimonial-title">
			<h1>Our Partners</h1>
		</div>
		<div class="col-12 carousel-testimonial-container">
			<ngu-carousel [inputs]="carouselTestimonial"
			              (onMove)="onmoveFn($event)">

				<ngu-item NguCarouselItem
				          class="bannerStyle">
					<div class="row">
						<div class="col-12 col-md-4 testimonial-img">
							<img src="../../../assets/josh-sq.jpg"
							     alt="Josh Plager">
						</div>
						<div class="col-12 col-md-8 testimonial-all-text">
							<h1>Josh Plager</h1>
							<h2>Founder and CEO of BIM Earth</h2>
							<div class="testimonial-block">
								<!-- <div class="quote">&ldquo;</div> -->
								<div class="quote-text">
									<p>Finding Flight has changed my life!!! For ten years, I struggle to create a company to make the world's building
										information easy to access. I researched markets, developed business plans, theorized algorithms, studied data
										science and privacies—the works! I was really struggling alone. What I needed was to "take Flight!" I needed a
										local team with the skills to build what I wanted built and willingness to meet with me, listen to me, validate
										the good, propose ways to improve, provide clear budget and burn rate projections, and execute as promised. The
										Flight team offered comprehensive engineering, design, deployment, and support. They’re professional, creatively
										driven, and take pride in their work.</p>
								</div>
								<!-- <div class="quote">&ldquo;</div> -->
								<!-- <div class="quote">&rdquo;</div> -->
							</div>
						</div>
					</div>
				</ngu-item>

				<ngu-item NguCarouselItem
				          class="bannerStyle">
					<div class="row">
						<div class="col-12 col-md-4 testimonial-img">
							<img src="../../../assets/jack.jpg"
							     alt="Jack Lanehome">
						</div>
						<div class="col-12 col-md-8 testimonial-all-text">
							<h1>Jack Lanehome</h1>
							<h2>Founder and CEO of Aid2Assist</h2>
							<div class="testimonial-block">
								<!-- <div class="quote">&ldquo;</div> -->
								<div class="quote-text quote-bigger">
									<p>Flight has been great to work with. I felt really comfortable with working with Jacob at Flight. They provided me
										with expected results. They are honest and gave me what options are best for me and my business. I highly recommend
										to give them a try!</p>
								</div>
								<!-- <div class="quote">&ldquo;</div> -->
								<!-- <div class="quote">&rdquo;</div> -->
							</div>
						</div>
					</div>
				</ngu-item>
				<button NguCarouselPrev
				        class='leftRst'>&#10077;</button>
				<button NguCarouselNext
				        class='rightRst'>&#10078;</button>
			</ngu-carousel>

		</div>
	</div>
	<!-- ROW FOR OUR TEAM SECTION -->
	<div id="team"
	     class="row">
		<!-- restructuring of team section -->
		<div class="flight-team-container">
			<div class="row">
				<div class="col-12 flight-team-title">
					<h1>Our Team</h1>
				</div>
				<div class="col-12 col-md-6 col-lg-3 flight-member-container">
					<img class="member-photo"
					     src="../../../assets/jacob-sq.jpg"
					     alt="Jacob Johnston">
					<div class="flight-member-name">Jacob Johnston</div>
					<div class="flight-member-title">Architect & Founder</div>
					<div class="flight-member-body">He's a lover of science and techonology, soaking up the latest and greatest web development and design tools, trends,
						and methodologies. Jacob takes great pleasure in creating powerful, performant, dynamic ewb applications and beautiful,
						intuitive user interfaces. His other passion is entrepreneurship (he even got a degree in it) so he's always following
						case studies and the latest findings about what works and doesn't for startups and growing businesses. He really likes
						working with entrepreneurs.</div>
					<div class="social-icons">
						<a href="https://www.linkedin.com/in/jacobgjohnston/">
							<i class="fab fa-linkedin fa-2x"></i>
						</a>
						<a href="https://github.com/Methodician">
							<i class="fab fa-github-square fa-2x"></i>
						</a>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3  flight-member-container">
					<img class="member-photo"
					     src="../../../assets/tricia-sq.jpg"
					     alt="">
					<div class="flight-member-name">Tricia Mendoza</div>
					<div class="flight-member-title">Product Designer</div>
					<div class="flight-member-body">Making sure not to get tempted with the financial stability that comes with pursuing a career in the medical field,
						she stayed on track by achieving a Bachelors Degree in Illustration from California State University, Long Beach. She
						plans to fulfill her childhood prophecy of furthering her claim in the design community by using shapes, lines, and
						composition in ways they thought they never could be used before. Watch out for her, as she is just getting warmed
						up.
					</div>
					<div class="social-icons">
						<a href="https://www.linkedin.com/in/triciamendoza/">
							<i class="fab fa-linkedin fa-2x"></i>
						</a>
						<a href="http://tvmopperator.com/">
							<img src="../../../assets/tricia-icon.svg">
						</a>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3 flight-member-container">
					<img class="member-photo"
					     src="../../../assets/joe.jpg"
					     alt="">
					<div class="flight-member-name">Joe Parsley</div>
					<div class="flight-member-title">UI/UX Engineer</div>
					<div class="flight-member-body">Born and raised in Oregon, Joe enjoys all of the amazing things the Pacific Northwest has to offer. He's all about everything
						nerdy and has a profound love for designing and programing. Being able to take someone's idea and turn it into a virtually
						physical piece of art that can be enjoyed on any screen is what keeps Joe going. When he's not programing or designing,
						you can find Joe playing DnD, jamming with his band, hiking or backpacking with his friends.</div>
					<div class="social-icons">
						<a href="https://www.linkedin.com/in/joe-parsley">
							<i class="fab fa-linkedin fa-2x"></i>
						</a>
						<a href="https://github.com/joeparsley">
							<i class="fab fa-github-square fa-2x"></i>
						</a>
					</div>
				</div>
				<div class="col-12 col-md-6 col-lg-3 flight-member-container">
					<img class="member-photo"
					     src="../../../assets/aubrey.jpg"
					     alt="">
					<div class="flight-member-name">Aubrey Masten</div>
					<div class="flight-member-title">Software Developer</div>
					<div class="flight-member-body">Problem solver at heart, Aubrey delights in simple, well built systems. Introduced to programming at an early age, he
						discovered a lifelong passion. An eternal student, motivated by the opportunity to listen, and learn from those around
						him. He tries to bring the joy of designing and building a system to that systemʼs audience. To build delightful and
						intuitive experiences. Always excited by the process of building applications. Always eager to work with others to
						help them realize their vision.</div>
					<div class="social-icons">
						<a href="https://www.linkedin.com/in/aubreymasten/">
							<i class="fab fa-linkedin fa-2x"></i>
						</a>
						<a href="https://github.com/aubreymasten">
							<i class="fab fa-github-square fa-2x"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ROW FOR CONTACT FORM COMPONENT -->
	<div class="row">
		<div id="contact"
		     class="contact-container">
			<fly-contact-form></fly-contact-form>
		</div>
	</div>
</div>

<!-- Footer Container -->
<div class="row">
	<div class="col-12 footer-container">
		<p>
			<a href="mailto:info@flight.run">info@flight.run</a> | Portland, OR
		</p>
		<p>© Flight 2018</p>
	</div>
</div>