// against a white background

// start project carousel style
.carousel-work-container {
	// border: $tb-red;
	background-color: white;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media screen and (min-width: 768px) {
		padding: 50px 100px;
	}
	@media screen and (min-width: 1024px) {
		padding: 50px 150px;
	}
	@media screen and (min-width: 1280px) {
		padding: 50px 250px;
	}
	h1 {
		// border: $tb-orange;
		font-size: 30px;
		font-weight: bold;
		color: $primarydark;
		margin-bottom: 20px;@media screen and (min-width: 768px) {
			font-size: 40px;
		}
	}

	.carousel-work-item {
		// border: $tb-orange;
		display: flex;
		flex-direction: column;
		padding: 0 40px;
		justify-content: center;
		@media screen and (min-width: 768px) {
			flex-direction: row;
			align-items: center;
			// justify-content: space-evenly;
		}
		img {
			// border: $tb-lime;
			width: 100%;
			max-width: 300px;
			// optional
			box-shadow: 3px 3px 3px $textdivider;
			@media screen and (min-width: 768px) {
			 // insert media query here
			}
			
		}
		.carousel-work-text {
			// border: $tb-cyan;
			display: flex;
			flex-flow: column;
			@media screen and (min-width: 768px) {
				width: 60%;
				padding: 0 20px;
			}
			h1 {
				font-size: 22px;
				margin: 0 0 5px 0;
				color: $primary;
			}
			p {
				// border: $tb-cyan;
				color: $text2;
				line-height: 1.25;
			}
		}
		.carousel-work-img {
			// border: $tb-cyan;
			display: flex;
			flex-direction: column;
			align-items: center;
			max-height: 155px;
			overflow: hidden;
			margin: 20px 0 30px 0;
			@media screen and (min-width: 768px) {
				align-items: center;
				order: 1;
				width: 40%;
			}
			@media screen and (min-width: 1024px) {
				padding: 0 30px 0 20px;
				align-items: flex-end;
			}
			
			// width: 40%;
		}
	}
	// .bannerStyle h1 {
	// 	// background-color: #ccc;
	// 	min-height: 300px;
	// 	text-align: center;
	// 	line-height: 300px;
	// }
	.leftRs {
		// border: $tb-red;
		border: none;
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		padding: 0;
		left: 0;
		font-size: 60px;
		color: $accent;
		background-color: transparent;
		outline: none;
		// to flip a right facing arrow
		// -webkit-transform: scaleX(-1);
    	// transform: scaleX(-1);
		&:hover {
			color: $primary;
		}
	}
	
	.rightRs {
		// border: $tb-red;
		border: none;
		position: absolute;
		margin: auto;
		padding: 0;
		top: 0;
		bottom: 0;
		right: 0;
		font-size: 60px;
		color: $accent;
		background-color: transparent;
		outline: none;
		&:hover {
			color: $primary;
		}
	}
}
// END PROJECTS carousel styles