<div class="row">
		<div class="col-12 carousel-work-container">
			<h1>Projects</h1>
				<ngu-carousel
				[inputs]="carouselBanner2"
				(onMove)="onmoveFn($event)">

				<ngu-item NguCarouselItem class="bannerStyle">
					<div class="carousel-work-item">
						<div class="carousel-work-img">
							<img src="../../../assets/BIM/bim1.png" alt="BIM Earth">
						</div>
						<div class="carousel-work-text">
							<h1>BIM Earth</h1>
							<p>Bim Earth is a web app that makes associating geographical boundaries with data easy, fun, and intuitive.</p>
						</div>
					</div>
				</ngu-item>

				<ngu-item NguCarouselItem class="bannerStyle">
					<div class="carousel-work-item">
						<div class="carousel-work-img">
							<img src="../../../assets/cssmixer/cssmixer1.png" alt="CSS Color Mixer">
						</div>
						<div class="carousel-work-text">
							<h1>CSS Color Mixer</h1>
							<p>CSS Color Mixer is a web tool that allows you to constantly mix colors until you find the colors that you need!</p>
						</div>
					</div>
				</ngu-item>
				<ngu-item NguCarouselItem class="bannerStyle">
					<div class="carousel-work-item">
						<div class="carousel-work-img">
							<img src="../../../assets/scatterschool/scatterschool1.png" alt="Scatter School">
						</div>
						<div class="carousel-work-text">
							<h1>Scatter School</h1>
							<p>Community made open, editable tutorials for everyone.</p>
						</div>
					</div>
				</ngu-item>

				<ngu-item NguCarouselItem class="bannerStyle">
					<div class="carousel-work-item">
						<div class="carousel-work-img">
							<img src="../../../assets/siteworks/sitework1.png" alt="SiteWorks">
						</div>
						<div class="carousel-work-text">
							<h1>SiteWorks</h1>
							<p>Onsite operations made easy, anytime and from anywhere from this web app.</p>
						</div>
					</div>
				</ngu-item>

				<button NguCarouselPrev class='leftRs'>&lsaquo;</button>
				<button NguCarouselNext class='rightRs'>&rsaquo;</button>
				<!-- <button NguCarouselPrev class='leftRs'>&#10153;</button>
				<button NguCarouselNext class='rightRs'>&#10154;</button> -->
			</ngu-carousel>
		</div>
	</div>