<div>
  <div class="blog-header" [ngStyle]="{'backgroundImage': 'url(' + post?.featured_image + ')'}">
    <h2>{{post?.title}}</h2>
    <p>By {{post?.author.first_name}} {{post?.author.last_name}} - {{date}}</p>
  </div>

  <div class="blog-body"
    [innerHTML]="post?.body | safeHtml">
  </div>
  <fly-related-posts *ngIf="post?.categories" [categories]="post?.categories" (changePost)="getPostBySlug($event)"></fly-related-posts>
</div>

<!-- Contact -->
<div class="container-fluid blue-background" id="contact">
  <div class="container">
    <fly-contact-form></fly-contact-form>
  </div>
</div>

