@import "../../../../sass/vars.scss";
@import "../../../../sass/mixins.scss";

.blog-header {
  width: 100%;
  background-size: cover;
  background-position: center;
  color: white;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;

  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.blog-body {
  width: 75%;
  margin: 0 auto;

  ::ng-deep h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 25px 0;
  }

  ::ng-deep p {
    line-height: 1.5;
    margin: 25px 0;
  }

  ::ng-deep img {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
  }

  ::ng-deep figcaption {
    text-align: center;
  }
}

.blue-background {
  background: #3e52b3;
  color: white;
}

.container {
  padding: 50px 15px 50px 15px;
}

.footer-container {
  color: $primarydark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  @include size(100%, 75px);
  a {
    color: $accent;
    &:hover {
      color: $textdivider;
      text-decoration: none;
    }
  }
}
