/* Template also uses global Butter CMS Styles */
@import "../../../../sass/vars.scss";

main {
  margin: 0 auto 48px;

  @media screen and (min-width:640px) {
    width: 80%;
  }

  @media screen and (min-width:1200px) {
    width: 75%;
  }
}

.header-image {
  width: 100%;
  display: block;
}

.article-header {
  margin-bottom: 24px;
  padding: 15px 20px 20px;
  background-color: #3e52b3dd;

  h1, p {
    width: 100%;
    color: #fff;
    text-align: center;
  }

  h1 {
    margin-bottom: 12px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.2;
  }

  @media screen and (min-width:640px) {

    h1 {
      font-size: 2rem;
    }
  }
}

.article-content {
  padding: 24px;
}
