<section id="comment-list">
  <h1 class="text-center">Comments</h1>
  <fly-comment *ngFor="let key of commentKeys"
               [key]="key"
               [comment]="commentList[key]"
               [type]="'comments'"
               [postSlug]="postSlug"
               [parentId]="postSlug">
  </fly-comment>
  <fly-add-comment [type]="'comments'"
                   [postSlug]="postSlug"
                   [parentId]="postSlug">
  </fly-add-comment>
  <button *ngIf="user"
          (click)="signOut()">
    Sign Out
  </button>
</section>
