<div class="carousel-container">

    <button (click)="onSelectPreviousSlide()" class="carousel-button left">&lsaquo;</button>
    <button (click)="onSelectNextSlide()" class="carousel-button right">&rsaquo;</button>
  
    <div class="carousel-position-indicator">
      <button *ngFor="let item of featuredCases; let i = index" (click)="onSelectSlidePosition(i)" [class]="indicatorStatusColor(i)"></button>
    </div>
  
    <div class="carousel-items-container">
      <div *ngFor="let case of featuredCases; let i = index" (click)="selectCase(case.slug)" [class]="'carousel-slide' + slidePosition(i)" [ngStyle]="{'backgroundImage': 'url(' + case?.fields.main_image + ')'}">
        <div class="caption">
            <h2>{{case?.fields.tagline | truncate:77}}</h2>
            <h6>{{case?.fields.company_name}}</h6>
        </div>
      </div>
    </div>
  
  </div>