@import "../../../../sass/vars.scss";

.blog-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  max-width: 80%;
  margin: 0 auto 25px;

  @media screen and (min-width:768px){
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width:1024px){
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.category-selector::ng-deep {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  .mat-form-field-infix {
    border: none;
  }

  .mat-select-value-text, .mat-select-arrow, .mat-select-placeholder {
    color: $primary;
  }

  .mat-form-field-underline {
    background: $primary;
  }
}

::ng-deep .mat-select-panel {
  max-height: 300px !important;

  .mat-select-content {
    background-color: $primary;
  }
}

.blue-background {
  background: #3e52b3;
  color: white;
}

.container {
  padding: 50px 15px 50px 15px;
}
