@import "../../../../sass/vars.scss";
@import "../../../../sass/mixins.scss";

.blog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 90%;
  margin: 0 auto 25px;
}

select {
  display: block;
  margin: 0 auto 10px;
}

.blue-background {
  background: #3e52b3;
  color: white;
}

.container {
  padding: 50px 15px 50px 15px;
}
