<select (change)="onChange($event.target.value)">
  <option value="" disabled selected>Filter By Category</option>
  <option *ngFor="let category of categories" value={{category.slug}}>{{category.name}}</option>
</select>

<div class="blog-list">
  <div *ngFor="let post of posts">
	<fly-blog-preview-card [post]="post"></fly-blog-preview-card>
  </div>
</div>

<!-- Contact -->
<div class="container-fluid blue-background" id="contact">
  <div class="container">
    <fly-contact-form></fly-contact-form>
  </div>
</div>