<fly-blog-carousel></fly-blog-carousel>
<select (change)="onChange($event.target.value)">
  <option value="" disabled selected>Filter By Category</option>
  <option *ngFor="let category of categories" value={{category.slug}}>{{category.name}}</option>
</select>

<div class="blog-list">
	<fly-blog-preview-card *ngFor="let post of posts" [post]="post" (click)="selectPost(post.slug)"></fly-blog-preview-card>
</div>

<!-- Contact -->
<div class="container-fluid blue-background" id="contact">
  <div class="container">
    <fly-contact-form></fly-contact-form>
  </div>
</div>