
<fly-carousel-frame [carouselItems]="featuredPosts" [slideTime]="slideTime">
  <ng-template let-item="item">
    <fly-carousel-item-blog-post [post]="item"></fly-carousel-item-blog-post>
  </ng-template>
</fly-carousel-frame>

<mat-form-field class="category-selector">
  <mat-select (selectionChange)="onCategoryChange($event.value)" [(value)]="path"  placeholder="All Posts">
    <mat-option value="all-posts">All Posts</mat-option>
    <mat-option *ngFor="let category of categories" value={{category.slug}}>{{category.name}}</mat-option>
  </mat-select>
</mat-form-field>

<div class="blog-list">
	<fly-blog-preview-card *ngFor="let post of posts" [post]="post" (click)="selectPost(post.slug)"></fly-blog-preview-card>
</div>

<!-- Contact -->
<div class="container-fluid blue-background" id="contact">
  <div class="container">
    <fly-contact-form></fly-contact-form>
  </div>
</div>
