<section class="banner" [ngStyle]="{'backgroundImage': 'url(' + page?.fields.main_image + ')'}">
  <h1>{{page?.fields.tagline}}</h1>
  <p>{{page?.fields.company_name}}</p>
</section>

<section class="layout-grid text-content" (window:resize)="checkWindowWidth()">

  <div id="group-1-header">
    <h2 class="section-title">Company Challenge</h2>
    <div [innerHTML]="page?.fields.challenge_summary | safeHtml"></div>
  </div>
  <div id="group-1-1" *ngIf="toggleOnGroup1 || toggleOnAll">
    <h3>{{page?.fields.challenge_block_1_header}}</h3>
    <div [innerHTML]="page?.fields.challenge_block_1_content | safeHtml"></div>
  </div>
  <div id="group-1-2" *ngIf="toggleOnGroup1 || toggleOnAll">
    <h3>{{page?.fields.challenge_block_2_header}}</h3>
    <div [innerHTML]="page?.fields.challenge_block_2_content | safeHtml"></div>
  </div>
  <div id="group-1-3" *ngIf="toggleOnGroup1 || toggleOnAll">
    <h3>{{page?.fields.challenge_block_3_header}}</h3>
    <div [innerHTML]="page?.fields.challenge_block_3_content | safeHtml"></div>
  </div>
  <div id="toggle-group-1">
    <button class="toggle" *ngIf="!toggleOnGroup1" (click)="onToggleGroup1()">Show More</button>
    <button class="toggle" *ngIf="toggleOnGroup1" (click)="onToggleGroup1()">Show Less</button>
  </div>

  <div id="group-2-header">
    <h2 class="section-title">Challenge Accepted</h2>
    <div [innerHTML]="page?.fields.accepted_summary | safeHtml"></div>
  </div>
  <div id="group-2-1" *ngIf="toggleOnGroup2 || toggleOnAll">
    <h3>{{page?.fields.accepted_block_1_header}}</h3>
    <div [innerHTML]="page?.fields.accepted_block_1_content | safeHtml"></div>
  </div>
  <div id="group-2-2" *ngIf="toggleOnGroup2 || toggleOnAll">
    <h3>{{page?.fields.accepted_block_2_header}}</h3>
    <div [innerHTML]="page?.fields.accepted_block_2_content | safeHtml"></div>
  </div>
  <div id="group-2-3" *ngIf="toggleOnGroup2 || toggleOnAll">
    <h3>{{page?.fields.accepted_block_3_header}}</h3>
    <div [innerHTML]="page?.fields.accepted_block_3_content | safeHtml"></div>
  </div>
  <div id="toggle-group-2">
    <button class="toggle" *ngIf="!toggleOnGroup2" (click)="onToggleGroup2()">Show More</button>
    <button class="toggle" *ngIf="toggleOnGroup2" (click)="onToggleGroup2()">Show Less</button>
  </div>

  <div id="toggle-all">
    <button class="toggle" *ngIf="!toggleOnAll" (click)="onToggleAll()">Show More</button>
    <button class="toggle" *ngIf="toggleOnAll" (click)="onToggleAll()">Show Less</button>
  </div>

</section>

<fly-carousel-frame *ngIf="page?.fields.supporting_images.length > 0" [carouselItems]="page?.fields.supporting_images" [msSlideDuration]="10000" [navArrowControls]="false">
	<ng-template carouselItemType let-item="item">
		<fly-carousel-item-supporting-image [imageUrl]="item.display_image" [imageCaption]="item.image_description"></fly-carousel-item-supporting-image>
	</ng-template>
</fly-carousel-frame>

<section class="about">
  <div class="text-content">
    <h2 class="section-title">About {{page?.fields.company_name}}</h2>
    <p><a [href]="page?.fields.company_url">{{page?.fields.company_url}}</a></p>
    <div [innerHTML]="page?.fields.company_about | safeHtml"></div>
  </div>
</section>
