<section class="article-header">
  <img [src]="page?.fields.main_image">
  <div class="title">
    <h1 class="text-center">{{page?.fields.company_name}}</h1>
    <p class="text-center">{{page?.fields.tagline}}</p>
  </div>
</section>

<section class="article-content layout-grid text-content butter-cms-style" (window:resize)="checkWindowWidth()">

  <div id="group-1-header">
    <h2 class="section-title">Company Challenge</h2>
    <div [innerHTML]="page?.fields.challenge_summary | safeHtml"></div>
  </div>
  <div id="group-1-1" *ngIf="toggleOnGroup1 || toggleOnAll">
    <h3>{{page?.fields.challenge_block_1_header}}</h3>
    <div [innerHTML]="page?.fields.challenge_block_1_content | safeHtml"></div>
  </div>
  <div id="group-1-2" *ngIf="toggleOnGroup1 || toggleOnAll">
    <h3>{{page?.fields.challenge_block_2_header}}</h3>
    <div [innerHTML]="page?.fields.challenge_block_2_content | safeHtml"></div>
  </div>
  <div id="group-1-3" *ngIf="toggleOnGroup1 || toggleOnAll">
    <h3>{{page?.fields.challenge_block_3_header}}</h3>
    <div [innerHTML]="page?.fields.challenge_block_3_content | safeHtml"></div>
  </div>
  <div id="toggle-group-1">
    <button class="fly-btn light" (click)="onToggleGroup1()">
      <span *ngIf="!toggleOnGroup1">Show More</span>
      <span *ngIf="toggleOnGroup1">Show Less</span>
    </button>
  </div>

  <div id="group-2-header">
    <h2 class="section-title">Challenge Accepted</h2>
    <div [innerHTML]="page?.fields.accepted_summary | safeHtml"></div>
  </div>
  <div id="group-2-1" *ngIf="toggleOnGroup2 || toggleOnAll">
    <h3>{{page?.fields.accepted_block_1_header}}</h3>
    <div [innerHTML]="page?.fields.accepted_block_1_content | safeHtml"></div>
  </div>
  <div id="group-2-2" *ngIf="toggleOnGroup2 || toggleOnAll">
    <h3>{{page?.fields.accepted_block_2_header}}</h3>
    <div [innerHTML]="page?.fields.accepted_block_2_content | safeHtml"></div>
  </div>
  <div id="group-2-3" *ngIf="toggleOnGroup2 || toggleOnAll">
    <h3>{{page?.fields.accepted_block_3_header}}</h3>
    <div [innerHTML]="page?.fields.accepted_block_3_content | safeHtml"></div>
  </div>
  <div id="toggle-group-2">
    <button class="fly-btn light" (click)="onToggleGroup2()">
      <span *ngIf="!toggleOnGroup2">Show More</span>
      <span *ngIf="toggleOnGroup2">Show Less</span>
    </button>
  </div>

  <div id="toggle-all">
    <button class="fly-btn light" (click)="onToggleAll()">
      <span *ngIf="!toggleOnAll">Show More</span>
      <span *ngIf="toggleOnAll">Show Less</span>
    </button>
  </div>

</section>

<fly-image-gallery *ngIf="page?.fields.supporting_images.length > 0"
  [images]="page?.fields.supporting_images">
</fly-image-gallery>

<section class="about">
  <div class="article-content butter-cms-style">
    <h2 class="section-title">About {{page?.fields.company_name}}</h2>
    <p><a [href]="page?.fields.company_url">{{page?.fields.company_url}}</a></p>
    <div [innerHTML]="page?.fields.company_about | safeHtml"></div>
  </div>
</section>
