@import "../../../sass/vars.scss";
@import "../../../sass/mixins.scss";

.examples-container {
  position: relative;
  .project-container {
    display: flex;
    flex-direction: column;
    .project-header {
      display: flex;
      flex-direction: column;
      background: $primary;
      color: white;
      padding: 16px 0 10px 0;
      @include respond-to(746){
        padding: 0 0 10px 0;
      }
      .swipe-box {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        @include respond-to(746){
          display: none;
        }
        cursor: pointer;
        .focus {
          display: flex;
          flex-direction: column;
          align-items: center;
          white-space: nowrap;
          margin: 0 25px;
          @include respond-to($android-sm){
            margin: 0 60px;
          }
          @include respond-to($iphone-lg){
            margin: 0 90px;
            flex-direction: row;
          }
          @include respond-to($tablet-sm){
            margin: 0 115px;
          }
          h1 {
            font-size: 24px;
            padding: 0;
            margin: 0;
            @include respond-to($tablet-sm){
              font-size: 28px;
            }
          }
          h3 {
            // border: $tb-red;
            margin: 0;
            padding: 0 0 0 0;
            @include respond-to($tablet-sm){
              font-size: 20px;
            }
          }
        }
        .unfocused {
          // border: $tb-yellow;
          color: $textdivider;
          font-size: 16px;
          white-space: nowrap;
          @include respond-to($android-sm){
            font-size: 18px;
          }
          @include respond-to($tablet-sm){
            font-size: 22px;
          }
          .line-container{
            width: 100%;
            overflow:hidden;
            height: 2px;
          }
        }
        .header-left {
          background: $accent;
          width: 100%;
          height: 100%;
          animation: line-left 3s ease infinite;

          // transform: translateX(-20px);
          @keyframes line-left {
            0% {
              transform: translateX(0);
              opacity: 0;
            }
            50% {
             opacity: 1; 
            }
            90% {
              opacity: 0.5;
            }
            100% {
              transform: translateX(-100%);
              opacity: 0;
            }
          }
        }
        .header-right {
          background: $accent;
          width: 100%;
          height: 100%;
          animation: line-right 3s ease infinite;

          // transform: translateX(-20px);
          @keyframes line-right {
            0% {
              transform: translateX(0);
              opacity: 0;
            }
            50% {
             opacity: 1; 
            }
            90% {
              opacity: 0.5;
            }
            100% {
              transform: translateX(100%);
              opacity: 0;
            }
          }
        }
      }
      // .project-arrow {
      //   padding: 0 10px;
      //   margin: 0;
      //   font-size: 40px;
      //   color: $accent;
      //   font-weight: 600;
      //   display: inline-block;
      // }
      // .left {
      //   animation: arrow-left 1s ease-in-out infinite;
      // }
      // @keyframes arrow-left {
      //   0%, 100% {
      //     transform: translateX(-4px);
      //   }
      //   50% {
      //     transform: translateY(0);
      //   }
      // }
      // .right {
      //   animation: arrow-right 1s ease-in-out infinite;
      // }
      // @keyframes arrow-right {
      //   0%, 100% {
      //     transform: translateX(4px);
      //   }
      //   50% {
      //     transform: translateY(0);
      //   }
      // }
      // .title-menu-container {       
      //   display: flex;
      //   flex-direction: column;
      //   align-items: flex-start;
      //   @include respond-to(400) {
      //     align-items: center;
      //   }
      //   .submenu-arrow {
      //     display: inline-block;
      //     color: $accent;
      //     font-size: 24px;
      //     margin: 0 5px;
      //     cursor: pointer;         
      //   }
      //   .down {
      //     animation: arrow-down 1s ease-in-out infinite;
      //     .rotate{
      //       transition: transform 150ms ease-in;
      //       transform: rotate(0deg);
      //     }          
      //   }
      //   @keyframes arrow-down {
      //     0%, 100% {
      //       transform: translateY(-4px);
      //     }
      //     50% {
      //       transform: translateY(0);
      //     }
      //   }
      //   .examples-submenu {
      //     position: relative;
      //     display: flex;
      //     @include respond-to(400) {
      //       justify-content: center;
      //     }
      //     .submenu {
      //       box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
      //       position: absolute;
      //       // border: $tb-lime;
      //       text-align: center;
      //       font-size: 20px;
      //       background-color: $primarydark;
      //       p {
      //         transition: all 200ms ease-in;
      //         color: $accent;
      //         padding: 20px 30px;
      //         width: 250px;
      //         &:hover {
      //           color: white;
      //           background: $accent;
      //           cursor: pointer;
      //         }
      //       }
      //     }
      //   }
      //   .title {
      //     font-size: 28px;
      //     text-align: center;
      //     font-weight: 600;
      //     margin: 10px 0;
      //     // font-weight: 20
      //   }
      // }
      h3 {
        padding: 0 0 0 35px;
        font-weight: normal;
      }
      a {
        color: $accent;
      }
      .project-title {
        display: none;
        text-align: center;
        font-size: 30px;
        @include respond-to(746){
          display: block;
        }
        p{
          // display: inline-block;
          padding: 20px 0 10px 0;
          font-weight: 600;
        }
        .lg-submenu {
          display: flex;
          background: $primarydark;
          justify-content: space-around;
          padding: 0 20px;
          font-size: 18px;
          div {
            padding: 10px 0;
            color: $accent;
            border-bottom: 2px solid $primarydark;
          }
          .inactive {
            color: $textdivider;
            border-bottom: 2px solid $accent;
          }
          .active {
            // background: green;
            transition: all 200ms ease-in;
            cursor: pointer;
            &:hover {
              color: white;
              border-bottom: 2px solid $accent;
            }
          }
        }

      }
    }
    .mid-container {
      // border: $tb-cyan;
      max-width: 100%;
      display: flex;
      justify-content: center;
      @include respond-to($tablet-md) {
        padding: 0 30px;
      }
      @include respond-to($tablet-lg) {
        padding: 20px 30px;
      }
      @include respond-to($desktop-md) {
        padding: 20px 100px;
      }
      @include respond-to($desktop-lg) {
        padding: 20px 200px;
      }
      @include respond-to($large-desktop-up) {
        padding: 20px 300px;
      }
    }
    .body-thumbnails-container {
      // border: $tb-red;
      display: flex;
      flex-direction: column;
      width: 100%;
      @include respond-to($tablet-lg) {
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        width: 80%;
      }
      // @include respond-to($desktop-md){
      //   padding: 0 100px; 
      // }
      // @include respond-to($desktop-lg){
      //   padding: 0 200px; 
      // }
    }
    .project-body {
      // border: $tb-black;
      display: flex;
      justify-content: center;
      @include respond-to($tablet-md) {
        width: 80%;
        align-self: center;
      }
      @include respond-to($tablet-lg) {
        width: 50%;
      }
      @include respond-to($desktop-sm) {
        width: 50%;
      }
      // @include respond-to(1400) {
      //   // width: 50%;
      //   padding: 50px 0;
      //   // padding: 0px 100px;
      // }
      // @include respond-to(1600) {
      //   // padding: 0px 200px;
      // }
      // @include respond-to($large-desktop-up) {
      //   // padding: 0px 300px;
      // }
      p {
        margin: 20px 60px 0 25px;
        // max-width: 1000px;
        @include respond-to($tablet-md) {
          margin: 20px 25px 0 25px;
        }
        @include respond-to($tablet-lg) {
          margin: 0px;
        }
      }
    }
    
    .project-thumbnails {
      // border: $tb-lime;
      display: flex;
      padding: 10px;
      justify-content: center;
      @include respond-to($tablet-md){
        // justify-content: ;
        // padding: 30px;
      }
      @include respond-to($tablet-lg){
        max-width: 55%;
        flex-wrap: wrap;
        // justify-content: center;
      }
      @include respond-to($desktop-sm){
        max-width: 45%;
      }
      // @include respond-to(1400) {
      //   padding: 30px 100px;
      // }
      // @include respond-to(1600) {
      //   padding: 30px 200px;
      // }
      // @include respond-to($large-desktop-up) {
      //   padding: 30px 300px;
      // }
      img {
        display: none;
        max-width: 100px;
        margin: 0 10px;
        transition: all 200ms ease-in-out;
        border: 2px solid $accent;
        cursor: pointer;
        filter: sepia(100%) hue-rotate(290deg) saturate(200%) drop-shadow(0 0 0 $text);
        &:hover {
          filter: sepia(0) hue-rotate(0) drop-shadow(2px 2px 1px $text2);
          border: 2px solid transparent;
        }
        @include respond-to(746){
          // height: 50px;
          // border: $tb-lime;
          display: block;
        }
        @include respond-to($tablet-lg){
          margin: 10px;
        }
      }
      .selected {
        border: 2px solid transparent;
        filter: sepia(0) hue-rotate(0) drop-shadow(2px 2px 1px $text2);
        cursor: auto;
      }
      .thumbnail-mobile {
        cursor: pointer; 
        border: none;
        color: white;
        background-color: $accent;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        height: 24px;
        width: 24px;
        margin: 0 10px;
        font-weight: 600;
        @include respond-to(746){
          display: none;
        }
      }
      .current{
        cursor: auto;
        border: 1px solid $accent;
        color: $textdivider;
        background: white;
      }
      // mimic 3-d button being pushed
      // .current-thumbnail-mobile {
      //   border: none;
      //   border-bottom: 1px solid $accent;
      //   color: $text;
      //   background: white;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   border-radius: 100%;
      //   height: 24px;
      //   width: 24px;
      //   margin: 0 10px;
      //   font-weight: 600;
      //   padding: 3px 0 0 3px;
      //   box-shadow: 2px 2px $accent inset;
      // }
      
    }
    .project-image-container {
      // border: $tb-lime;
      background-color: $textdivider;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include respond-to($tablet-md) {
        padding: 0 30px;
      }
      @include respond-to($desktop-md) {
        padding: 0px 100px;
      }
      @include respond-to($desktop-lg) {
        padding: 0px 200px;
      }
      @include respond-to($large-desktop-up) {
        padding: 0px 300px;
      }
      p {
        text-align: center;
        margin: 10px 0 5px 0;
        color: $primarydark;
        font-style: italic;
      }
      .image-container {
        width: 100%;
        @include respond-to(746){
          width: 80%;
        }
      }
      img {
        width: 100%;
        // height: 1000px;
        // border: $tb-lime;
      }
    }
  }
}
.visible {
  display: block;
}

.hidden {
  display: none;
}

