  <!-- Main container -->
<div class="examples-container">
  <div class="project-container">
    <!-- Project Header -->
    <div class="project-header">
      <div
        *ngFor="let key of projectKeys; let iKey = index"
        (swipeleft)="swipe(iKey, $event.type)"
        (swiperight)="swipe(iKey, $event.type)"
        [class]="checkIfSelectedProject(key)"
        
        >
        <h1 class="unfocused header-left">{{iKey === 0 ? projects[projectKeys[projectKeys.length - 1]].title : projects[projectKeys[iKey - 1]].title}}</h1>
        <div class="focus">
          <h1>{{projects[key].title}}</h1>
          <h3 *ngIf="selectedProject.url">[<a target="_blank"
            [href]="selectedProject.url">live</a>]</h3>
        </div>
        <h1 class="unfocused">{{iKey === projectKeys.length - 1 ? projects[projectKeys[0]].title : projects[projectKeys[iKey + 1]].title}}</h1>
      </div>
    </div>
    <!-- Project Image Description -->
    <div class="project-body">
      <p>{{ selectedProject.blurb }}</p>
    </div>

    <!-- Picture Box Container to hold the additional pictures of different projects -->
    <div class="project-thumbnails">
      <a *ngFor="let image of selectedProject.images; let i = index" (click)="selectImage(i)">
          <img *ngIf="mobile" [src]="image.path"
             [alt]="image.alt">
          <div [class]="checkIfSelected(i)">{{i + 1}}</div>
      </a>
    </div>
    <!-- A blurb about what the project is about -->
    <div class="project-image-container">
      <p>{{selectedImage.description}}</p>
      <img [src]="selectedImage.path" [alt]="selectedImage.alt">
    </div>
  </div>
</div>

 <!-- <div class="more-work-container">
    <h3>More of our work:</h3>
    <ul>
      <li *ngFor="let key of projects | keys">
        <a [routerLink]="projects[key].routerLink">{{ projects[key].title }}</a>
      </li>
      <li>
        <a [routerLink]="['/examples/bimearth']">Bim Earth</a>
      </li>
      <li>
        <a [routerLink]="['/examples/scatterschool']">Scatter School</a>
      </li>
      <li>
        <a [routerLink]="['/examples/siteworks']">SiteWorks</a>
      </li>
      <li>
        <a [routerLink]="['/examples/colormixer']">CSS Color Mixer</a>
      </li>
    </ul>
  </div> -->