<div class="container-fluid" id="survey-container">
  <h1>
    Internship Survey
  </h1>
  <p>
      This is intended to give us insights into your interests, strengths, and weaknesses so that everyone can get the most out of this. While the answers will play a minor role in ranking our internship prospects the main purpose is to help is find the right mix of stuff for you to work on. Please respond with your answers <em>at least 3 days before</em> your interview! (sooner is better - much better)
    </p>
    <fly-survey-form #form class="survey-theme"></fly-survey-form>
    <button mat-flat-button [disabled]="!form.valid" (click)="submit(form.value)">Submit</button>
    <button mat-flat-button color="accent" (click)="resetForm()">Reset</button>
  </div> 