@import "../../../../sass/vars.scss";
@import "../../../../sass/mixins.scss";

#survey-container {
  // color: white;
  width: 100%;
  font-weight: 100;
  h1 {
    // color: white;
    font-size: 24px;
  }
}