<p>Name:</p>
<p>{{ (SurveyDetail)?.firstName }} {{ (SurveyDetail)?.lastName }}</p>
<br>
<p>Email:</p>
<p>{{ (SurveyDetail)?.email }}</p>
<br>
<p>Cohort:</p>
<p>{{ (SurveyDetail)?.cohort }}</p>
<br>
<p>Date:</p>
<p>{{ (SurveyDetail)?.timestamp | date }}</p>
<br>
<p>What aspects of web application development, and design are you most interested in pursuing and learning more about?</p>
<p>{{ (SurveyDetail)?.fr1 }}</p>
<br>
<p>What part of web application development and design has been the most challenging to you?</p>
<p>{{ (SurveyDetail)?.fr2 }}</p>
<br>
<p>What do you think are your strongest points in web app development?</p>
<p>{{ (SurveyDetail)?.fr3 }}</p>
<br>
<p>What do you want to work on with us and what do you hope to get out of this internship?</p>
<p>{{ (SurveyDetail)?.fr4 }}</p>
<br>
<p>Interactions with stakeholders (talking with people like customers, supervisors, planners, and co-workers and understanding/interpreting their needs)</p>
<p>Aptitude: {{ (SurveyDetail)?.ap1 }} Interest: {{ (SurveyDetail)?.ip1 }}</p>
<br>
<p>Staying organized and keeping track of lots of different requirements and tasks in an orderly manner</p>
<p>Aptitude: {{ (SurveyDetail)?.ap2 }} Interest: {{ (SurveyDetail)?.ip2 }}</p>
<br>
<p>Working with project management, and organizational tools (like asana, trello, calendar tools, meistertask, time trackers, etc…)</p>
<p>Aptitude: {{ (SurveyDetail)?.ap3 }} Interest: {{ (SurveyDetail)?.ip3 }}</p>
<br>
<p>Working with GIT or other source control tools</p>
<p>Aptitude: {{ (SurveyDetail)?.ap4 }} Interest: {{ (SurveyDetail)?.ip4 }}</p>
<br>
<p>Understanding, and clearly defining requirements for a project (and helping team members understand)</p>
<p>Aptitude: {{ (SurveyDetail)?.ap5 }} Interest: {{ (SurveyDetail)?.ip5 }}</p>
<br>
<p>Envisioning user experience and the UX workflow</p>
<p>Aptitude: {{ (SurveyDetail)?.ap6 }} Interest: {{ (SurveyDetail)?.ip6 }}</p>
<br>
<p>Creating visually aesthetic designs given the constraints of project requirements</p>
<p>Aptitude: {{ (SurveyDetail)?.ap7 }} Interest: {{ (SurveyDetail)?.ip7 }}</p>
<br>
<p>Envisioning, and designing user interface (what kind of buttons, inputs, error messages, etc should go here and there? Should this form be on one page or split into sections? Is it clear what a user needs to do without detailed instructions?)</p>
<p>Aptitude: {{ (SurveyDetail)?.ap8 }} Interest: {{ (SurveyDetail)?.ip8 }}</p>
<br>
<p>Solving logical problems with functions and code</p>
<p>Aptitude: {{ (SurveyDetail)?.ap9 }} Interest: {{ (SurveyDetail)?.ip9 }}</p>
<br>
<p>Solving mathematical problems with functions and code</p>
<p>Aptitude: {{ (SurveyDetail)?.ap10 }} Interest: {{ (SurveyDetail)?.ip10 }}</p>
<br>
<p>Translating visual design specs into code with HTML/CSS</p>
<p>Aptitude: {{ (SurveyDetail)?.ap11 }} Interest: {{ (SurveyDetail)?.ip11 }}</p>
<br>
<p>Creating animations and transitions with HTML/CSS, JavaScript, or tools like Angular Animations</p>
<p>Aptitude: {{ (SurveyDetail)?.ap12 }} Interest: {{ (SurveyDetail)?.ip12 }}</p>
<br>
<p>Understanding and designing data structures for storage and retrieval of the data that ultimately drives a web application</p>
<p>Aptitude: {{ (SurveyDetail)?.ap13 }} Interest: {{ (SurveyDetail)?.ip13 }}</p>
<br>
<p>Writing raw SQL</p>
<p>Aptitude: {{ (SurveyDetail)?.ap14 }} Interest: {{ (SurveyDetail)?.ip14 }}</p>
<br>
<p>Working with relational data structures (like tables and spreadsheets in rows/columns/cells)</p>
<p>Aptitude: {{ (SurveyDetail)?.ap15 }} Interest: {{ (SurveyDetail)?.ip15 }}</p>
<br>
<p>Working with tree-like data structures (like JSON and NoSQL solutions, Firebase, MongoDB, etc...)</p>
<p>Aptitude: {{ (SurveyDetail)?.ap16 }} Interest: {{ (SurveyDetail)?.ip16 }}</p>
<br>
<button mat-button (click)="goBack()">Back</button>
