
<div *ngIf="surveyAnswers" class="container-fluid" id="survey-container">
  <h1>
      {{ surveyAnswers.contact.firstName }} {{ surveyAnswers.contact.lastName }}
  </h1>
  <mat-card>
    <div class="userinfo">
      <div style="flex-grow:1;">
          <h3>Email:</h3>
          <p>{{ surveyAnswers.contact.email }}</p>
      </div>
      <div style="flex-grow:1;">
          <h3>Cohort:</h3>
          <p>{{ surveyAnswers.contact.cohort }}</p>
      </div>
      <div style="flex-grow:1;">
          <h3>Date:</h3>
          <p>{{ surveyAnswers.contact.timestamp | date }}</p>
      </div>
    </div>
  </mat-card>
  <div class="aip" >
    <h1>Aptitude & Interest</h1>
    <mat-card>
      <table>
        <tr>
          <th class="apt-int-head"><h3>Apititude</h3></th>
          <th class="apt-int-head"><h3>Interest</h3></th>
          <th ><h3>Questions</h3></th>
        </tr>
        <tr *ngFor="let question of surveyQuestions.aip; let i=index">
          <td class="apt-int">{{ surveyAnswers.aip[i].a }}</td>
          <td class="apt-int">{{ surveyAnswers.aip[i].i }}</td>
          <td class="question">{{ question }}</td>
        </tr>
      </table>
    </mat-card>
  </div>
  <h1>Free Response</h1>
  <mat-card>
    <div class="free-response">
      <div *ngFor="let question of surveyQuestions.fr; let i=index">
         <h3>{{ question }}</h3>
         <p id="indent">{{ surveyAnswers.fr[i] }}</p>
      </div>
    </div>
  </mat-card>
  <div class="button-bar">
      <button mat-flat-button color="accent" (click)="goBack()">Back</button>
  </div>
</div>
