.caption {
    text-align: center;
    transition: color 0.25s, transform 0.5s;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      line-height: 1.3;
    }
  }
