@import "../../../sass/vars.scss";

.navbar-spacer {
  height: 90px;
}

nav {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px 0 #0006;
  background-color: #fff;
  z-index: 100;

  .brand-logo {
    padding: 0 20px;
    cursor: pointer;
    outline: none;

    img {
      width: 150px;
    }
  }

  .menu-group {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: 5px solid transparent;
    color: #616161;
    cursor: pointer;
    transition: border-bottom 0.25s ease-in, font-size 0.25s ease-in;

    @media screen and (min-width: 1024px) {
      font-size: 22px;
    }

    &:hover {
      border-bottom: 5px solid #ff5174;
    }
  }
}
