// TODO//WARNING :: This component is super fragile right now. Needs to be reworked and updated!

@import "../../../sass/vars.scss";
@import "../../../sass/mixins.scss";

// TOP NAV STYLES
.navbar-spacer {
  height: 90px;
}

nav {
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 10px 0 #0006;
  background-color: #fff;
  z-index: 100;

  .brand-logo {
    padding: 0 20px;
    cursor: pointer;
    outline: none;

    img {
      width: 150px;
    }
  }

  .menu-group {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .menu-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-bottom: 5px solid transparent;
    color: #616161;
    cursor: pointer;
    transition: border-bottom 0.25s ease-in, font-size 0.25s ease-in;

    @media screen and (min-width: 1024px) {
      font-size: 22px;
    }

    &:hover {
      border-bottom: 5px solid #ff5174;
    }
  }
}

// TODO: Suggest a massive refactor below to clean up unused styles and streamline media queries

// SIDE NAV STYLES
.toggle-button {
  position: fixed;
  top: 20px;
  right: 0px;
  margin: 0;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  background-color: $accent !important;
  border: none;
  // box-shadow: -3px 3px $textdivider, 3px 3px $textdivider;
  box-shadow: 1px 1px 9px -2px black;
  z-index: 9999;
  cursor: pointer;
}
.toggle-button:focus {
  outline: none;
}
.toggle-button .icon-bar+.icon-bar {
  margin-top: 4px;
}
.icon-bar {
  background-color: white;
  display: block;
  border-radius: 2px;
  width: 4px;
  height: 3px;
}
.navmenu {
  background-color: rgba(255, 255, 255, 1.05);
  text-align: right;
  box-shadow: 0px 0px 31px -4px black;
}
.navmenu a {
  color: #fff;
}
.navmenu a:focus {
  background-color: rgba(28, 27, 23, 0.84);
}

.scroll-link {
  cursor: pointer;
}

a.scroll-link:hover {
  text-decoration: underline;
}

.side-navmenu {
  top: 0;
  right: 0;
  overflow: hidden;
  border: none;
  position: fixed;
  width: 50vw;
  height: 100vh;
  z-index: 9999;
}
.side-navmenu a {
  font-size: 2em;
}
.side-navmenu li {
  margin: 10px 0;
}
.navbar-fixed-top {
  border: none;
}
.navbar-default .side-navmenu, .navbar-default .navbar-form {
  border-color: #fff;
  background-color: rgba(28, 27, 23, 0.84);
}
.navbar-default .toggle-button {
  border-color: #fff;
}
.navbar-default .toggle-button .icon-bar {
  background-color: #000;
}

/*===== NAV EXPANDED =====*/
.navbar-default .toggle-button:focus, .navbar-default .toggle-button:hover {
  background-color: #fff;
}
.menu-active {
  background-color: #000;
}
.nav {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navmenu ul>li>a {
  color: $accent;
  margin: 20px 0;
}

/*most phones landscape mode*/
@media screen and (min-width : 500px){
  .side-navmenu {
    width: 220px;
  }
  .toggle-button {
    right: 220px;
  }
}
@media screen and (min-width : 300px){
  .side-navmenu {
    width: 220px;
  }
  .toggle-button {
    right: 220px;
  }
  .icon-bar {
    width: 6px;
    height: 4px;
    border-radius: 1.5px;
  }
}
/*iPad portrait mode*/
@media screen and (min-width: 760px){
  .navmenu {
    width: 100vw;
    text-align: center;
  }

  .nav {
    padding-top: calc(50vh - 120px);
  }

  .toggle-button {
    right: 0;
    // margin-top: 45px;
    padding: 20px;
    z-index: 99999;
  }

  .icon-bar {
    width: 8px;
    height: 6px;
    border-radius: 1.5px;
  }

  .toggle-button .icon-bar + .icon-bar {
    margin-top: 7.5px;
  }

  .side-menu a {
    font-size: 2em !important;
  }
}
