@import "../../../../sass/vars.scss";

.carousel-item {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 10%;
  background-size: cover;
  background-position: center;

  &:hover {
    cursor: pointer;

    .caption {
      color: $accent;
    }
  }

  .caption {
    text-align: center;
    color: #fff;
    transition: color 0.25s, transform 0.5s;

    h1 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      display: none;
      line-height: 1.3;
    }

    @media screen and (min-width:600px) {
      h1 {
        font-size: 2rem;
      }

      p {
        display: block;
      }
    }
  }

  .captionBelow {
    color: black;
    height: 100px;
    margin: 10px 10px 0px 10px;
  }
}
